Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

adjust image size
  docs/fbw-a32nx/assets/flypados3/flypad-settings-aircraft-configuration.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-callouts.png
Labels: none

feat: add automatic callouts feature to EFB settings.md
  docs/fbw-a32nx/assets/flypados3/flypad-settings-aircraft-configuration.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-callouts.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

remove GSX dev version only admonition
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

update --dirty flag information in documentation.md
  docs/dev-corner/development-projects/documentation.md
Labels: none

build: bump mkdocs-material -> 9.2.1
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/development-projects/documentation.md
  docs/dev-corner/index.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/index.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/stylesheets/navigation.css
  mkdocs.yml
  overrides/home.html
  requirements.txt
Labels: feature guide, repo

changes to charts.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

refactor(simbrief): navigraph and simbrief changes
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

formatting in charts.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

add new images to repo
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions-blank.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-auth.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-override.png
Labels: none

make initial stable versioning for settings page
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

add images and finalizing documentation
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

add image to charts.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

update 3rd party options image settings.md
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
Labels: none

update simbrief.md override and stable version instructions
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

fix warning messages on build
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

update settings.md instructions and internal links
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

Slein suggestions from code review
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

fix warning admonition for 3rd party options
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

fix flypad-settings-third-party-options.png width
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
Labels: none

Added instruments page and temp removed flypad-dev page is it is outdated
  docs/dev-corner/dev-guide/specific/.pages
  docs/dev-corner/dev-guide/specific/instruments.md
Labels: none

docs: Added instruments page and temp removed outdated flypad-dev page
  docs/dev-corner/dev-guide/specific/.pages
  docs/dev-corner/dev-guide/specific/instruments.md
Labels: none

chore: exclude flypad-dev.md from search
  docs/dev-corner/dev-guide/specific/flypad-dev.md
Labels: none

chore: exclude flypad-dev.md from search
  docs/dev-corner/dev-guide/specific/flypad-dev.md
Labels: none

feat: add efb to abbreviations
  docs/pilots-corner/abbreviations.md
Labels: none

feat: add efb to abbreviations
  docs/pilots-corner/abbreviations.md
Labels: none

add mcdu keyboard shortcuts doc
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
Labels: none

Update docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
Labels: none

add pymdown keyboard key styling
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
Labels: none

docs(disco): add warning about SID and en-route discontinuity
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

move content and add suggestion from slein
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

typo indicated by shomas
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

move sid admonition above star
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

formatting + add "further" below to tip
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

slein review
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

slein review 2
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

feat: crossbleed engine start documentation
  docs/pilots-corner/advanced-guides/.pages
  docs/pilots-corner/advanced-guides/engines/.pages
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

initial documentation
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

final copy
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

add images + adjust copy
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
  docs/pilots-corner/assets/advanced-guides/engines/bleeds-page.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed1.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed2.png
  docs/pilots-corner/assets/advanced-guides/engines/engine-page-start.png
  docs/pilots-corner/assets/advanced-guides/engines/engines-page.png
Labels: advanced guides

add solution for installer permission problems
  docs/fbw-a32nx/support/reported-issues.md
Labels: support
