Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

docs: add title to installer issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: add title to installer issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: QRH inital commit
  docs/fbw-a32nx/.pages
  docs/fbw-a32nx/qrh/index.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

PR self review changes
  docs/fbw-a32nx/qrh/index.md
Labels: none

navigation changes
  docs/fbw-a32nx/.pages
  docs/fbw-a32nx/qrh/.pages
Labels: none

build: bump mkdocs-material -> 9.4.2
  requirements.txt
Labels: repo

add color default to admonitions.css
  docs/stylesheets/admonitions.css
Labels: none

add :root color styling for general font
  docs/stylesheets/extra.css
Labels: none

update sim version in reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

build: bump mkdocs-material -> 9.4.2
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/admonitions.css
  docs/stylesheets/extra.css
  requirements.txt
Labels: support, repo

fix title in navigation
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

refactor(simbrief): navigraph and simbrief changes
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions-blank.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-auth.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-override.png
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

feat: add top level installer section + pages
  docs/.pages
  docs/installer/.pages
  docs/installer/index.md
Labels: none

add target=new to installer links
  docs/installer/index.md
Labels: none

feat: progress indicator instant loading
  mkdocs.yml
Labels: repo

build: bump mkdocs-material -> 9.4.4
  requirements.txt
Labels: repo

create installer reported-issues.md
  docs/installer/reported-issues.md
Labels: none

build: bump mkdocs-material -> 9.4.4
  mkdocs.yml
  requirements.txt
Labels: repo

add installer reported issues
  docs/installer/.pages
  docs/installer/index.md
  docs/installer/reported-issues.md
Labels: none

internal links to installer issues from reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

convenience redirect
  mkdocs.yml
Labels: repo

slein minor change
  docs/installer/index.md
Labels: none

build: bump mkdocs-material -> 9.4.6
  requirements.txt
Labels: repo

fix: emoji_index configuration
  mkdocs.yml
Labels: repo

build: bump mkdocs-material -> 9.4.6
  mkdocs.yml
  requirements.txt
Labels: repo

extra information
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

formatting
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

eearslya review edit
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

docs(zfw-mcdu): update information for zfw autofill
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

docs(zfw-mcdu): update information for zfw autofill
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

build: bump mkdocs-material -> 9.4.6
  mkdocs.yml
  requirements.txt
Labels: repo

docs: add keyboard shortcut support for the mcdu remote display in browser mode
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
Labels: none

Replace SET MANAGED SPEED with CHECK SPEED MODE
  docs/pilots-corner/a32nx-briefing/pfd/special-message-annunciators.md
Labels: a32nx briefing

fix(pilots-corner): replace SET MANAGED SPEED with CHECK SPEED MODE
  docs/pilots-corner/a32nx-briefing/pfd/special-message-annunciators.md
Labels: a32nx briefing

minor formatting change for one admonition
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

Apply suggestions from code review - Slein
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

feat: add photos and final reword
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/EFBFailures.JPG
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/air-cond-failures.jpg
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

small wording fixes
  docs/fbw-a32nx/feature-guides/.pages
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

optimize images
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/EFBFailures.JPG
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/air-cond-failures.jpg
Labels: none

fix: review comments and other small fixes
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
