Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

feat: card grids
  docs/fbw-a32nx/support/reported-issues.md
  mkdocs.yml
Labels: support, repo

styling for hoverstate card grid
  docs/stylesheets/extra.css
Labels: none

options for quick links card grid
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

new layout and fixes card grid reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

card grids to a32nx index.md
  docs/fbw-a32nx/index.md
Labels: none

Updated development environment setup page - hello world example
  docs/dev-corner/assets/dev-guide/hello-world-pfd.png
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

Removed screenshot of code and added code block
  docs/dev-corner/assets/dev-guide/hello-world-example-src-code.png
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

refactor(wb): add gw/gwcg information
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

fix: Updated dev env setup page - hello world example (#922)
  docs/dev-corner/assets/dev-guide/hello-world-example-src-code.png
  docs/dev-corner/assets/dev-guide/hello-world-pfd.png
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

refactor(simbridge): make clarifications for aircraft settings in configuration.md
  docs/simbridge/install-configure/configuration.md
Labels: none

Fixed KOHL(S)MAN and LIGHT POTENTIOMETER R/(W)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix: Fixed API docs - KOHL(S)MAN and LIGHT POTENTIOMETER R/(W) (#927)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

add gw/gwcg info
  docs/fbw-a32nx/assets/feature-guides/gwcg.png
Labels: none

page formatting weights and balance section
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

grammar fixes
  docs/simbridge/install-configure/configuration.md
Labels: none

refactor(install): update dev version download link
  docs/fbw-a32nx/installation.md
Labels: none

refactor(wb): add gw/gwcg information
  docs/fbw-a32nx/assets/feature-guides/gwcg.png
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

fix link
  docs/fbw-a32nx/installation.md
Labels: none

fix markdown formatting error
  docs/fbw-a32nx/installation.md
Labels: none

refactor(install): update dev version download link
  docs/fbw-a32nx/installation.md
Labels: none

refactor(simbridge): make clarifications for aircraft settings in configuration.md
  docs/simbridge/install-configure/configuration.md
Labels: none

Rudder/pedal instructions
  docs/fbw-a32nx/assets/rudder/GameControllersRudderSettings.jpg
  docs/fbw-a32nx/assets/rudder/GameControllersThrustmaster.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSensitiviy.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSettings.jpg
  docs/fbw-a32nx/rudder.md
Labels: none

create separate directory + pages for documentation project
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/documentation-project/.pages
  docs/dev-corner/development-projects/documentation-project/documentation.md
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
  docs/dev-corner/development-projects/index.md
Labels: none

navigation and move content writing-documentation.md
  docs/dev-corner/development-projects/documentation-project/.pages
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
Labels: none

clarify documentation
  docs/dev-corner/development-projects/documentation-project/documentation.md
Labels: none

add card grids to writing-documentation.md
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
Labels: none

finish writing-documentation.md
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
Labels: none

slein review
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
Labels: none

feat: card grids
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/documentation-project/.pages
  docs/dev-corner/development-projects/documentation-project/documentation.md
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
  docs/dev-corner/development-projects/index.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: support, repo

update with card grids
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

refactor(disc-bot): update page to prep for version 3
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

Move Thurstmaster Rudder instructions to Hardware section
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/rudder.md
  docs/fbw-a32nx/assets/api-guide/thrustmaster-t-flight-rudder.png
Labels: none

Update rudder instructions and illustrations
  docs/fbw-a32nx/a32nx-api/rudder.md
  docs/fbw-a32nx/assets/rudder/GameControllersRudderSettings.jpg
  docs/fbw-a32nx/assets/rudder/GameControllersThrustmaster.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSensitiviy.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSettings.jpg
Labels: none

Update instructions for Thrustmaster Rudders and illustration links
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/rudder.md
Labels: none

docs: Add missing TRJ12 Calibration screen shot
  docs/fbw-a32nx/assets/rudder/TRJ12-Calibration.jpg
Labels: none

Moving tca rudder page to support section and adding Rudder Operation Issues admon
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/support/detail-pages/.pages
  docs/fbw-a32nx/support/detail-pages/rudder.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Resize images
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSensitiviy.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSettings.jpg
Labels: none

Update docs/fbw-a32nx/support/detail-pages/rudder.md
  docs/fbw-a32nx/support/detail-pages/rudder.md
Labels: none

docs: Add link from section Unable to Move or Taxi
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Update docs/fbw-a32nx/support/detail-pages/rudder.md
  docs/fbw-a32nx/support/detail-pages/rudder.md
Labels: none
