Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

fix: images in performance.md
  docs/aircraft/common/flypados3/performance.md
Labels: none

update TODO_README.md
  TODO_README.md
Labels: repo

Changed images to match default EFB theme, updated images for better compression/quality
  docs/fbw-a32nx/assets/gsxintegration/gsx-fuel-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.png
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
Labels: feature guide

Update docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
Labels: feature guide

Update docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
Labels: feature guide

fix: broken text formatting with mathjax/latex enabled
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner-flying-guide/navigation.md
Labels: none

formatting issue minimums section
  docs/pilots-corner/airliner-flying-guide/approaches.md
Labels: none

fix: broken text formatting with mathjax/latex enabled
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner-flying-guide/navigation.md
Labels: none

Update charts.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

Update docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

docs: Updated GSX Integration Docs to reflect current implementation
  docs/fbw-a32nx/assets/gsxintegration/gsx-fuel-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-profile-page.png
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/payload.md
  docs/fbw-a32nx/feature-guides/gsxintegration/profile.md
Labels: feature guide

fix: Include warning for Simbridge charts resources folder
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

fix: mathjax formula rendering
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

removed abbreviation
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

"are" not "or"
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/ext-lt.md
Labels: a32nx briefing

"are" not "or" (#1008)
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/ext-lt.md
Labels: a32nx briefing

refactor: a32nx stable release pages titles
  docs/release-notes/a32nx/v0100.md
  docs/release-notes/a32nx/v0101.md
  docs/release-notes/a32nx/v0110.md
  docs/release-notes/a32nx/v0111.md
  docs/release-notes/a32nx/v070.md
  docs/release-notes/a32nx/v071.md
  docs/release-notes/a32nx/v072.md
  docs/release-notes/a32nx/v073.md
  docs/release-notes/a32nx/v074.md
  docs/release-notes/a32nx/v075.md
  docs/release-notes/a32nx/v080.md
  docs/release-notes/a32nx/v081.md
  docs/release-notes/a32nx/v082.md
  docs/release-notes/a32nx/v090.md
  docs/release-notes/a32nx/v091.md
Labels: none

remove a380x release notes from search and menu
  docs/release-notes/.pages
  docs/release-notes/a380x/v010.md
Labels: none

update todo readme
  TODO_README.md
Labels: repo

fix: reported-issues.md grammar
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Slein grammar fix
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix: reported-issues.md grammar
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Bug: quick fix for corrupt formula
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

Updated Checklist
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

Re-targeting correct branch
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

fix: quick fix for corrupt formula
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

Updated Checklist
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

Re-targeting correct branch
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

refactor: fix links part 1
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/aircraft/a32nx/feature-guides/loading-fuel-weight.md
  docs/aircraft/a32nx/feature-guides/simbrief.md
  docs/aircraft/common/flypados3/checklists.md
  docs/aircraft/common/flypados3/performance.md
  docs/aircraft/common/index.md
  docs/aircraft/faq.md
Labels: none

refactor: fix links throttle-calibration.md
  docs/aircraft/common/flypados3/throttle-calibration.md
Labels: none

Update local-files.md
  docs/simbridge/simbridge-feature-guides/local-files.md
Labels: none

Minor updates to CL
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Edited items to align with in-game checklist
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Updated checklist
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

build: bump mkdocs-material 9.5.40
  requirements.txt
Labels: repo

refactor: fix links part 2
  docs/aircraft/common/flypados3/settings.md
  docs/aircraft/install/installation.md
  docs/aircraft/install/settings.md
  docs/aircraft/support/reported-issues.md
Labels: none

refactor: fix links part 3
  docs/dev-corner/texture-changes.md
  docs/pilots-corner/a32nx/a32nx-advanced-guides/flight-planning/takeoff-perf-calc.md
  docs/pilots-corner/a32nx/index.md
  docs/release-notes/index.md
  docs/tools/simbridge/simbridge-feature-guides/terrain.md
Labels: none

refactor: release notes internal links part 1
  docs/release-notes/a32nx/v0100.md
  docs/release-notes/a32nx/v0101.md
  docs/release-notes/a32nx/v0110.md
  docs/release-notes/a32nx/v0111.md
  docs/release-notes/a32nx/v070.md
  docs/release-notes/a32nx/v071.md
  docs/release-notes/a32nx/v072.md
  docs/release-notes/a32nx/v073.md
  docs/release-notes/a32nx/v074.md
  docs/release-notes/a32nx/v075.md
Labels: none

refactor: release notes internal links part 2
  docs/release-notes/a32nx/v0110.md
  docs/release-notes/a32nx/v0111.md
  docs/release-notes/a32nx/v070.md
  docs/release-notes/a32nx/v080.md
  docs/release-notes/a32nx/v081.md
  docs/release-notes/a32nx/v082.md
  docs/release-notes/a32nx/v090.md
  docs/release-notes/a32nx/v091.md
Labels: none

refactor: fix links final
  docs/pilots-corner/a32nx/a32nx-beginner-guide/descent.md
  docs/pilots-corner/a32nx/a32nx-beginner-guide/preparing-mcdu.md
  docs/pilots-corner/a32nx/a32nx-briefing/flight-deck/front/nd.md
  docs/pilots-corner/a32nx/a32nx-briefing/mcdu/f-pln.md
  docs/pilots-corner/a32nx/a32nx-briefing/mcdu/index.md
  docs/pilots-corner/a32nx/a32nx-briefing/mcdu/perf.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none
