Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

Removed the mins > minutes change as on review across the docs site min(s) and minute(s) are used a lot interchangably
  docs/simbridge/install-configure/configuration.md
Labels: none

fix: Typo corrected con > can
  docs/simbridge/install-configure/configuration.md
Labels: none

Correct min unit
  docs/simbridge/install-configure/configuration.md
Labels: none

build: bump mkdocs-material -> 9.1.21
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.1.21
  requirements.txt
Labels: repo

docs: update references to old a32nx repo
  README.md
  archive/exp.md
  docs/dev-corner/dev-guide/contribute.md
  docs/dev-corner/dev-guide/resources.md
  docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/specific/flypad-dev.md
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  docs/dev-corner/development-projects/ace.md
  docs/dev-corner/development-projects/index.md
  docs/dev-corner/index.md
  docs/dev-corner/qa-process.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/reported-issues.md
  mkdocs.yml
Labels: feature guide, support, repo

docs(nd-symbols): minor corrections to symbology information
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/nd-symbols.md
Labels: advanced guides

Update docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

Update docs/dev-corner/development-projects/index.md
  docs/dev-corner/development-projects/index.md
Labels: none

Update docs/dev-corner/dev-guide/specific/flypad-translations.md
  docs/dev-corner/dev-guide/specific/flypad-translations.md
Labels: none

docs: update references to old a32nx repo
  README.md
  archive/exp.md
  docs/dev-corner/dev-guide/contribute.md
  docs/dev-corner/dev-guide/resources.md
  docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/specific/flypad-dev.md
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  docs/dev-corner/development-projects/ace.md
  docs/dev-corner/development-projects/index.md
  docs/dev-corner/index.md
  docs/dev-corner/qa-process.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/reported-issues.md
  mkdocs.yml
Labels: feature guide, support, repo

docs(nd-symbols): minor corrections to symbology information
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/nd-symbols.md
Labels: advanced guides

docs(beginner-guide): update takeoff memo
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

refactor(flightdeck-api): incorrect custom LVAR for no smoking switch
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

refactor(flightdeck-api): incorrect custom LVAR for no smoking switch
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

docs(issues): add pop out screen issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

remove dummy issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

grammar
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

formatting and additional information
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

build: bump mkdocs-material -> 9.2.1
  requirements.txt
Labels: repo

bump beta -> 9.2.0b3
  requirements.txt
Labels: repo

enable navigation pruning
  mkdocs.yml
Labels: repo

make urllib3 dependency target <2.0
  requirements.txt
Labels: repo

remove sample status symbol from faq.md
  docs/fbw-a32nx/faq.md
Labels: none

mkdocs-material -> 9.2.0b2
  requirements.txt
Labels: repo

clean up INFO messages when serve or building
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/index.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/index.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
Labels: none

remove quotation marks in headers fbw-versions.md
  docs/fbw-a32nx/fbw-versions.md
Labels: none

update homepage summary blurb
  overrides/home.html
Labels: none

fix navigation.css border-bottom
  docs/stylesheets/navigation.css
Labels: none

minor text changes to hero
  overrides/home.html
Labels: none

navigation status using faq.md as sample
  docs/fbw-a32nx/faq.md
  mkdocs.yml
Labels: repo

refactor status config
  mkdocs.yml
Labels: repo

bump -> 9.2.0b1
  requirements.txt
Labels: repo

split text in hero blurb main page
  overrides/home.html
Labels: none

update documentation.md with new dirty flag
  docs/dev-corner/development-projects/documentation.md
Labels: none

update simulated hardware a32nx overview
  docs/fbw-a32nx/index.md
Labels: none

bump version 9.2.1
  requirements.txt
Labels: repo

Slein suggestions from code review
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(issues): add pop out screen issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

feat: add automatic callouts feature to EFB settings.md
  docs/fbw-a32nx/assets/flypados3/flypad-settings-aircraft-configuration.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-callouts.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
