Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

fixes preparing-mcdu.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fixes loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

fixes abbreviations.md
  docs/pilots-corner/abbreviations.md
Labels: none

final fixes
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

feat: addition of taxi limitations (WIP) to ch4 of BG (#978)
  TODO_README.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: repo

Several changes to align with A380 SOP document
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

feat: updates to TODO, small updates to chapter 3 and chapter 5 of bg (#971)
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Small corrections
  TODO_README.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: repo

Updates to ch6 of BG
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Minor revisions pointed out by 2cas
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

condensed format and admons
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

updated with specific SOP guidelines
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Changes before merge
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

feat: update chapter 6 of BG (#972)
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: none

Chapter 7 updates
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

added more SOP instruction
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

Update 07_landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

oooooweeeee admons
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
Labels: none

Changes before merge
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

feat: update chapter 7 of beginner guide (#973)
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: none

Added A380X Adv. Guides dummy page
  TODO_README.md
  docs/pilots-corner/a380x/.pages
  docs/pilots-corner/a380x/a380x-advanced-guides/overview.md
Labels: repo

Update docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Restructure to follow the A380 SOP order and some logical grouping of steps
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Initial draft of ch. 8
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Admons galore
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

feat: quick settings text update
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

Changes before merge
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

feat: update bg chapter 8 (#976)
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Nav name change
  docs/pilots-corner/a380x/a380x-briefing/.pages
Labels: none

Update after ldg checklist section
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: none

Updates to chapter 9 initial draft
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
  docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
  docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
Labels: none
