Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

remove empty lines
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix image links
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

docs: eperm solution
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Apply suggestions from Slein
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

add danger admonition
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

docs(failures): update and create new pages
  docs/fbw-a32nx/feature-guides/flypados3/.pages
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/failures/.pages
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

move options to new overview
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
Labels: feature guide

initial copy for failures from issue
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
Labels: feature guide

initial review changes - ground speed, notes
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
Labels: feature guide

on page todo list
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
Labels: feature guide

2nd round of changes
  docs/fbw-a32nx/feature-guides/flypados3/failures/failures.md
Labels: feature guide

grammar edit
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

Apply pre-review suggestions from Slein
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

new images, optimization, and formatting
  docs/fbw-a32nx/assets/flypados3/flypad-failure-tab.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active1-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active2-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-compact-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-search-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-system-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures.png
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

initial image changes
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active1-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active2-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-compact-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-search-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-system-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures.png
  docs/fbw-a32nx/feature-guides/flypados3/.pages
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  docs/fbw-a32nx/feature-guides/flypados3/failures/.pages
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

config options formatting and add FLEX
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add images and optimize
  docs/fbw-a32nx/assets/flypados3/failures-all-systems.png
  docs/fbw-a32nx/assets/flypados3/failures-altitude.png
  docs/fbw-a32nx/assets/flypados3/failures-select.png
  docs/fbw-a32nx/assets/flypados3/failures-speed.png
  docs/fbw-a32nx/assets/flypados3/failures-takeoff-1.png
  docs/fbw-a32nx/assets/flypados3/failures-takeoff-2.png
  docs/fbw-a32nx/assets/flypados3/failures-timed.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active1-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-active2-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-compact-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-search-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures-system-view.png
  docs/fbw-a32nx/assets/flypados3/flypad-failures.png
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add titles to takeoff settings
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add overview
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

maverickwoe edits
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

Apply Slein review 3
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add convenience redirect
  mkdocs.yml
Labels: repo

Apply Slein review 2
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

Apply suggestions from Slein + BlueberryKing
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
Labels: advanced guides

docs(disco): add warning about SID and en-route discontinuity
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

feat: crossbleed engine start documentation
  docs/pilots-corner/advanced-guides/.pages
  docs/pilots-corner/advanced-guides/engines/.pages
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
  docs/pilots-corner/assets/advanced-guides/engines/bleeds-page.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed1.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed2.png
  docs/pilots-corner/assets/advanced-guides/engines/engine-page-start.png
  docs/pilots-corner/assets/advanced-guides/engines/engines-page.png
Labels: advanced guides

fix: typo in reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

add maverickwoe copy changes
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add specific bootstrap icons
  overrides/.icons/bootstrap/airplane.svg
  overrides/.icons/bootstrap/arrow-bar-up.svg
  overrides/.icons/bootstrap/repeat-1.svg
  overrides/.icons/bootstrap/repeat.svg
  overrides/.icons/bootstrap/sliders2-vertical.svg
  overrides/.icons/bootstrap/toggle-off.svg
Labels: none

add config for inline bootstrap
  mkdocs.yml
Labels: repo

add symbols to failures.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

add external bootstrap css
  mkdocs.yml
Labels: repo

html backup for combined takeoff icon
  src/takeoff-icon.html
Labels: none

fix icons and formatting
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  docs/stylesheets/extra.css
Labels: feature guide

add copy to timed failure generator section
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
Labels: feature guide

call external stylesheet only on failures.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  mkdocs.yml
Labels: feature guide, repo

docs(prep-mcdu): add how-to enter squawk code section
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fix bullet points
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

slein review
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

docs(prep-mcdu): add how-to enter squawk code section
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide
