Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

Seat page poc with animations
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal.png
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/seat-animation.gif
Labels: none

Seat page poc with animations and click to play
  docs/assets/gif-anim-placeholder.png
  docs/javascripts/gif-play.js
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/inner-arm-rest-animation-ph.png
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/outer-arm-rest-animation-ph.png
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/seat-animation-ph.png
  docs/stylesheets/gif-anim-style.css
  mkdocs.yml
Labels: repo

Change to click image text (italics)
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
Labels: none

moved js include to seats page and gif-anim css to extra.css as these do not have to be loaded for every page
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/stylesheets/extra.css
  docs/stylesheets/gif-anim-style.css
  mkdocs.yml
Labels: repo

Lateral console page
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/lateral-console.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/lateral.png
Labels: none

Compass and Exe Reference page
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/compass.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/lateral-console.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/compass-eye-reference.png
Labels: none

Added Parking Brake page
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/parking-brake.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/parking-brake.png
Labels: none

Added Cockpit Lighting panel
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/cockpit-lighting.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/cockpit-lt-panel.png
Labels: none

Added Trim panel
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/trim-panel.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/trim-panel.png
Labels: none

Line 4 update under TODOs
  TODO_README.md
Labels: repo

Inserted a couple more TODOs for screenshot requests
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
Labels: none

Inserted a couple more TODOs for screenshot requests
  TODO_README.md
Labels: repo

Update TODO_README.md
  TODO_README.md
Labels: repo

Updated todos
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
Labels: none

Fixed an admon
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
Labels: none

wip update
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/compass.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/lateral-console.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/main-glare.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/ovhd.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/pedestal.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/printer.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/trim-panel.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/printer.png
Labels: none

TODOs updated, operational changes made, A320 refs moved to A380
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Oh my god there are so many changes
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Changed "Warning Disclaimer" to "Disclaimer" because it bothered me
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Initial draft of FMS preparation guide
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/init-departure-entered.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/init-departure.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/init-flt-nbr.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-ci.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-crz-fl.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-routing.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/sample-ofp.pdf
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/tmpy-fpln-airways.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/tmpy-fpln-arrival-entered.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/tmpy-fpln-discontinuity.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/tmpy-fpln-next-wpt.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/tmpy-fpln-waypoint-menu.png
Labels: none

Updated pedestal image
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/pedestal.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal.png
Labels: none

SOP guidelines further integration
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

punctuation cleanup
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

glare & main overview page
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/main-glare.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/cockpit.png
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/glare-main.png
Labels: none

fix: update announcement bar URL + NOTAM title
  overrides/main.html
Labels: none

fix: update announcement bar URL + NOTAM title
  overrides/main.html
Labels: none

Addition of Taxi Limitations (WIP) to ch4
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

minor updates
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

Update docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

Holy moly a whole bunch of admons
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: none

fix: typos / grammatical errors
  docs/pilots-corner/beginner-guide/preflight.md
Labels: beginner guide

fixes takeoff-climb-cruise.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

fixes simbrief.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide
