Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

minor grammar and sentence structure changes
  docs/release-notes/v0100.md
Labels: none

more admonition fixes
  docs/release-notes/v0100.md
Labels: none

update major feature list - tracer1
  docs/release-notes/v0100.md
Labels: none

terrain on nd writeup and links
  docs/release-notes/v0100.md
Labels: none

remove todo fix major features
  docs/release-notes/v0100.md
Labels: none

fixes to mav + davy additions
  docs/release-notes/v0100.md
Labels: none

remove stable versioning from maintenance.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

add lights portion misc
  docs/release-notes/v0100.md
Labels: none

TCA EFB Screenshots updated
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Reverse-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-climb.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-flex.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-toga.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.jpg
Labels: none

TCA EFB Screenshots cropped
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Reverse-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-climb.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-flex.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-toga.jpg
Labels: none

changed "star" to "asterisk"
  docs/pilots-corner/a32nx-briefing/mcdu/f-pln.md
Labels: a32nx briefing

fix: changed star to asterisk
  docs/pilots-corner/a32nx-briefing/mcdu/f-pln.md
Labels: a32nx briefing

lights embed
  docs/release-notes/v0100.md
Labels: none

add fuel section
  docs/release-notes/v0100.md
Labels: none

style fixes with new version
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: repo

build: bump mkdocs-material -> 9.1.11
  requirements.txt
Labels: repo

minor grammar fixes and added wipers
  docs/release-notes/v0100.md
Labels: none

add images
  docs/release-notes/assets/0-10-0-m.png
  docs/release-notes/assets/radnav-rs10.png
  docs/release-notes/assets/wipers-rs10.jpg
Labels: none

quick links update
  docs/release-notes/v0100.md
Labels: none

slein review pr
  docs/release-notes/v0100.md
Labels: none

slein review pr
  docs/release-notes/v0100.md
Labels: none

slein review pr
  docs/release-notes/v0100.md
Labels: none

slein review pr
  docs/release-notes/v0100.md
Labels: none

slein review
  docs/release-notes/v0100.md
Labels: none

slein review manual
  docs/release-notes/v0100.md
Labels: none

fix deselected text
  docs/release-notes/v0100.md
Labels: none

refactor production.yml with new config
  production.yml
Labels: repo

feat: release notes and changes for v0.10.0
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie1.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc2.png
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
  docs/release-notes/.pages
  docs/release-notes/assets/0-10-0-m.png
  docs/release-notes/assets/radnav-rs10.png
  docs/release-notes/assets/wipers-rs10.jpg
  docs/release-notes/v0100.md
  docs/simbridge/index.md
  mkdocs.yml
Labels: a32nx briefing, feature guide, simbridge, repo

Add pause at tod in settings.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

Upload new picture and complete TOD in settings.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

update image for realism settings
  docs/fbw-a32nx/assets/flypados3/flypad-settings-realism.png
Labels: none

slein review
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

migrate to pngs
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-climb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-flex.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-reverse-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-toga.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.png
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

number spacing fix
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

docs(efb): update OS 3 with pause at TOD
  docs/fbw-a32nx/assets/flypados3/flypad-settings-realism.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

build: bump mkdocs-material -> 9.1.11
  docs/stylesheets/extra.css
  mkdocs.yml
  production.yml
  requirements.txt
Labels: repo

add DES disclaimer
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

fix DES and TOD disclaimer
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

Update abbreviations.md
  docs/pilots-corner/abbreviations.md
Labels: none

fix formatting, add ISA abbreviation
  docs/pilots-corner/abbreviations.md
Labels: none

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
