Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

Update link to Rudder Operation Issues section
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Update link to Rudder Operation Issues section
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

quick fix contact details qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

refactor(qa): update documentation
  docs/dev-corner/qa-process.md
Labels: none

order update
  docs/dev-corner/qa-process.md
Labels: none

refactor(qa): update documentation
  docs/dev-corner/qa-process.md
Labels: none

build: bump mkdocs-material -> 9.5.4
  requirements.txt
Labels: repo

fix(pfd-briefing): alternative solution to content tabs
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

change list to bullet points and fix admonitions
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

docs: Rudder/pedal instructions
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/assets/api-guide/thrustmaster-t-flight-rudder.png
  docs/fbw-a32nx/assets/rudder/GameControllersRudderSettings.jpg
  docs/fbw-a32nx/assets/rudder/GameControllersThrustmaster.jpg
  docs/fbw-a32nx/assets/rudder/TRJ12-Calibration.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSensitiviy.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSettings.jpg
  docs/fbw-a32nx/support/detail-pages/.pages
  docs/fbw-a32nx/support/detail-pages/rudder.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

bring back toc
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

add additional pages and remove extra for nav
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/discord-bot-sticky.md
  docs/dev-corner/development-projects/discord-bot-utils.md
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

fix(pfd-briefing): alternative solution to content tabs
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

build: bump mkdocs-material -> 9.5.4
  requirements.txt
Labels: repo

example using external from ben
  docs/dev-corner/development-projects/discord-bot-utils.md
Labels: none

discord-bot-utils.md external markdown commands
  docs/dev-corner/development-projects/discord-bot-utils.md
Labels: none

update commands hyperlink discord-bot-utils.md
  docs/dev-corner/development-projects/discord-bot-utils.md
Labels: none

remove old commands from discord-bot.md leave only support based
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

remove duplicate line
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

add more relevant commands to version 2
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

refactor(disc-bot): update page to prep for version 3
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/discord-bot-sticky.md
  docs/dev-corner/development-projects/discord-bot-utils.md
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

build: bump mkdocs-material -> 9.5.6
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.5.6
  requirements.txt
Labels: repo

update sim version reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(bg): update sample flight in preparing-mcdu.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

update pdf
  docs/pilots-corner/assets/beginner-guide/mcdu/sample-ofp.pdf
Labels: none

update images
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.png
Labels: none

update images + ofp to EU route
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu10.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu12.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu15.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu16.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu19.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu20.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu5.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu8.png
  docs/pilots-corner/assets/beginner-guide/mcdu/sample-ofp.pdf
Labels: none

add loading lazy
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

initial text changes to preparing-mcdu.md
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu-discontinuity.png
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

update ofp photos
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.jpg
Labels: none

Apply suggestions from frankkopp code review
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Further fixes of setup mcdu page
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Update docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Apply suggestions from code review
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Update docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Clarification for Discos
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Apply suggestions from code review
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

docs(bg): update sample flight in preparing-mcdu.md
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu-discontinuity.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu10.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu12.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu15.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu16.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu19.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu20.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu5.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu8.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.png
  docs/pilots-corner/assets/beginner-guide/mcdu/sample-ofp.pdf
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

Added note to TCA section to do MSFS Controller options first
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide
