Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

docs: add DES disclaimer
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

fix: isa abbreviation and formatting fix
  docs/pilots-corner/abbreviations.md
Labels: none

Moved location of Simbrief Username location from the header to body of text
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

Tweaked captailisation of SimBrief to be consistent
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

fix(efb): Moved Simbrief Username Location from Admonition header to body
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

better wording
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

fix(hoppie): Better wording for a sentence
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

fix formatting
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

remove legacy images
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Reverse-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-climb.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-flex.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-toga.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/idle-keyboard-detent.png
Labels: none

fix: formatting
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

update honeycomb and twcs images
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/Flypad-next-to-Throttle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page2.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page3.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-clb-detent.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-next-to-throttle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-clb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-flx.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revfull.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revidle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-toga.png
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

Docs: TCA,TWCS,Honeycomb and Keyboard Screenshots update
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Reverse-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-climb.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-flex.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-toga.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/Flypad-next-to-Throttle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-climb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-flex.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-reverse-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-toga.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page2.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page3.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-clb-detent.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-next-to-throttle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/idle-keyboard-detent.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-clb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-flx.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revfull.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revidle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-toga.png
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

addjust to other lines
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

addjust table format
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

adjust table format
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix: flight deck API update for RWY TAKE OFF switch pos
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix(descent): remove fix info dev flags and correct grammar
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

fix(descent): remove fix info dev flags and correct grammar
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

hotair lvar update
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix(api): Updated HOT AIR LVAR's
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

docs: change pdf links
  docs/pilots-corner/SOP.md
Labels: none

correct checklist links
  docs/pilots-corner/beginner-guide/after-landing.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

correct preview link
  docs/pilots-corner/SOP.md
Labels: none

fix typo
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
Labels: a32nx briefing

Update docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
Labels: a32nx briefing

fix: typo on fcu page
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
Labels: a32nx briefing

build: bump mkdocs-material 9.1.14
  requirements.txt
Labels: repo

build: bump mkdocs-material 9.1.14
  requirements.txt
Labels: repo

Fixed newline issue in flyPad docs index.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

build: bump mkdocs-material 9.1.15
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.1.15
  requirements.txt
Labels: repo

fix: update usernames in discord-bot.md
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

update usernames in documentation.md
  docs/dev-corner/development-projects/documentation.md
Labels: none

fix: update discord usernames to new format
  docs/dev-corner/development-projects/discord-bot.md
  docs/dev-corner/development-projects/documentation.md
Labels: none

fix: correct format for g load various pages
  docs/pilots-corner/a32nx-briefing/ecam/sd/index.md
  docs/pilots-corner/a32nx-briefing/limitations.md
  docs/pilots-corner/advanced-guides/protections/overview.md
Labels: a32nx briefing, advanced guides

slein review
  docs/pilots-corner/advanced-guides/protections/overview.md
Labels: advanced guides

slein review 2
  docs/pilots-corner/advanced-guides/protections/overview.md
Labels: advanced guides

fix: correct format for g load various pages
  docs/pilots-corner/a32nx-briefing/ecam/sd/index.md
  docs/pilots-corner/a32nx-briefing/limitations.md
  docs/pilots-corner/advanced-guides/protections/overview.md
Labels: a32nx briefing, advanced guides

docs(guide): add image assets process to docs project guide
  docs/dev-corner/development-projects/documentation.md
Labels: none

docs(release): v0.10.1 release notes
  docs/release-notes/v0101.md
Labels: none

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
