Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

fixes to chapter 05
  docs/pilots-corner/a380x/assets/beginner-guide/05_takeoff-climb-cruise/checklist-before-start-line-up.png
Labels: none

fix: update announcement bar URL + NOTAM Title
  overrides/main.html
Labels: none

fix: update announcement bar URL + NOTAM Title
  overrides/main.html
Labels: none

feat: update simbridge paths
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

remove warning, fix typo
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

add note for uninstall
  docs/simbridge/install-configure/installation.md
Labels: none

rewording
  docs/simbridge/install-configure/installation.md
Labels: none

feat: update simbridge paths
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/simbridge/install-configure/installation.md
Labels: feature guide

fixes to chapter 06 - part 1
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/eddf-07c-trans-alt.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/flypad-weather-widget.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/mfd-fpln-dirto-distance.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/mfd-perf-appr-data.png
Labels: none

fixes to chapter 06 - part 1
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

make images smaller
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-abrk-selector.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-active-stopbar.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-no-selection.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-selected.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-center-on-acft.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-cp-select-airport.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-runway-ahead.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/pfd-btv-armed.png
Labels: none

review remarks
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

overview page, abbreviations
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
  docs/pilots-corner/a380x/a380x-advanced-guides/overview.md
  includes/abbreviations.md
Labels: none

overview page v2
  docs/pilots-corner/a380x/a380x-advanced-guides/overview.md
Labels: none

Fixed spelling mistake
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

feat(a380x): OANS / BTV Advanced Guide (#1020)
  docs/pilots-corner/a380x/a380x-advanced-guides/.pages
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
  docs/pilots-corner/a380x/a380x-advanced-guides/overview.md
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-abrk-selector.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-active-stopbar.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-no-selection.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-selected.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-center-on-acft.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-cp-select-airport.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-runway-ahead.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/pfd-btv-armed.png
  includes/abbreviations.md
Labels: none

fixes to chapter 06
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/checklist-approach.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/eddf-07CILS-30degree.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/eddf-07CILS-final-descent.png
  docs/pilots-corner/a380x/assets/beginner-guide/06_descent/eddf-star-debhi1c-manual.png
Labels: none

Tweaks to OANS-BTV text
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

spelling and new lines
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

Added some white space
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

Tweaks to OANS-BTV text (#1024)
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: none

FMS Prep guide part 1
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-init-departure-entered.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-init-departure.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-init-flt-nbr.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-navaids.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-status-elements.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-tmpy-fpln-airways.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-tmpy-fpln-arrival-entered.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-tmpy-fpln-discontinuity.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-tmpy-fpln-next-wpt.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/fms-tmpy-fpln-waypoint-menu.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-ci.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-crz-fl.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/ofp-routing.png
  docs/pilots-corner/a380x/assets/beginner-guide/03_preparing-fms/sample-ofp.pdf
Labels: none

Fixed typo
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

build: bump mkdocs-material -> 9.6.5
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.6.5
  requirements.txt
Labels: repo

capitalize engine X -> Engine X
  docs/pilots-corner/a32nx/a32nx-beginner-guide/engine-start-taxi.md
Labels: none

change SOP note to a warning
  docs/pilots-corner/a32nx/a32nx-beginner-guide/engine-start-taxi.md
Labels: none

use info icon instead of note
  docs/pilots-corner/a32nx/a32nx-beginner-guide/engine-start-taxi.md
Labels: none

add recommendation for roll sensitivity
  docs/aircraft/a32nx/assets/feature-guides/sensitivity-custom-ap.png
  docs/aircraft/a32nx/feature-guides/autopilot-fbw.md
  docs/aircraft/install/settings.md
Labels: none

add line breaks for better visibility
  docs/aircraft/a32nx/feature-guides/autopilot-fbw.md
  docs/aircraft/install/settings.md
Labels: none

fix: new A320 engine start sop
  docs/pilots-corner/a32nx/a32nx-beginner-guide/engine-start-taxi.md
Labels: none

docs: add recommendation for roll sensitivity
  docs/aircraft/a32nx/assets/feature-guides/sensitivity-custom-ap.png
  docs/aircraft/a32nx/feature-guides/autopilot-fbw.md
  docs/aircraft/install/settings.md
Labels: none

Add clarification for A32NX.FCU_EFIS_L/R_BARO_SET
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Apply suggestion
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

docs: add clarification for A32NX.FCU_EFIS_L/R_BARO_SET event unit
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Update setup-environment.md
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

typo: remove a space from the parenthesis
  docs/dev-corner/dev-guide/setup-environment.md
Labels: none

fix: readme contributing urls
  README.md
Labels: repo

fix: readme contributing urls
  README.md
Labels: repo

docs: update EFB performance calculators
  docs/aircraft/common/assets/flypados3/flypad-performance-landing.png
  docs/aircraft/common/assets/flypados3/flypad-performance-takeoff.png
  docs/aircraft/common/assets/flypados3/flypad-performance-tod.png
  docs/aircraft/common/assets/flypados3/performance-landing-maxok.png
  docs/aircraft/common/assets/flypados3/performance-landing-notok.png
  docs/aircraft/common/assets/flypados3/performance-landing-ok.png
  docs/aircraft/common/flypados3/performance.md
Labels: none
