Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

New Screenshot for CG Values and changes on the adminition
  docs/pilots-corner/assets/beginner-guide/mcdu/Thrust-lever-elev-trim.png
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

minor change
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

tiny fix
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

Additional Update on different Page
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/thrust-pitch-trim.md
  docs/pilots-corner/assets/a32nx-briefing/pedestal/Thrust-lever-elev-trim.jpg
  docs/pilots-corner/assets/a32nx-briefing/pedestal/Thrust-lever-elev-trim.png
Labels: a32nx briefing

straighten Thrust-lever-elev-trim.png
  docs/pilots-corner/assets/a32nx-briefing/pedestal/Thrust-lever-elev-trim.png
  docs/pilots-corner/assets/beginner-guide/mcdu/Thrust-lever-elev-trim.png
Labels: none

feat: Change cg scale (#784)
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/thrust-pitch-trim.md
  docs/pilots-corner/assets/a32nx-briefing/pedestal/Thrust-lever-elev-trim.jpg
  docs/pilots-corner/assets/a32nx-briefing/pedestal/Thrust-lever-elev-trim.png
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: a32nx briefing, beginner guide

Changes after Peer review on the Discord
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

add repository_owner to initial if statement
  .github/workflows/pr-checks.yml
Labels: none

feat: label based PR checks, auto merging, conditional manual check (#783)
  .github/workflows/build-validation.yml
  .github/workflows/manual-build-validate.yml
  .github/workflows/pr-checks.yml
Labels: none

Tiny Changes for AP2 on approach
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide, advanced guides

fix link
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Refactor for name change
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

Refactor for name change
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

Last Minute Review Change
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

Formatting Fix
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

Formatting Fix and minor change
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

move direct law
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

feat: Documentation for Alternate Law
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

docs(tcas): remove FSLTL issue
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
Labels: advanced guides

Update docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
Labels: advanced guides

docs: change for AP2 SOP
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide, advanced guides

docs(tcas): remove FSLTL issue
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
Labels: advanced guides

Apply suggestions from code review
  docs/pilots-corner/a32nx-briefing/ecam/sd/cruise.md
  docs/pilots-corner/advanced-guides/flight-guidance/overview.md
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/advanced-guides/flight-planning/holds.md
  docs/pilots-corner/advanced-guides/protections/overview.md
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/beginner-guide/powering-down.md
Labels: a32nx briefing, beginner guide, advanced guides

Apply suggestions from code review
  docs/pilots-corner/a32nx-briefing/limitations.md
Labels: a32nx briefing

fix: ths test
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fix: typo
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fix: text
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fix: md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

fix(docs): use GW CG for THS
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

feat: embedded pdf previews
  mkdocs.yml
Labels: repo

styling
  docs/stylesheets/extra.css
Labels: none

swap to absolute path
  docs/pilots-corner/SOP.md
  mkdocs.yml
Labels: repo

embeded pdfs on SOP.md
  docs/assets/FBW-A32NX-SOP.pdf
  docs/pilots-corner/SOP.md
Labels: none

update comments for use of pathconverter
  mkdocs.yml
Labels: repo

test height change
  docs/stylesheets/extra.css
Labels: none

add background color
  docs/stylesheets/extra.css
Labels: none

ammend entry for number 7
  docs/pilots-corner/a32nx-briefing/ecam/sd/cond.md
Labels: a32nx briefing

fix: added entry for temperature unit on the COND ECAM Page
  docs/pilots-corner/a32nx-briefing/ecam/sd/cond.md
Labels: a32nx briefing

Update maintenance.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

Update maintenance.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing
