Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

Added TODO to ensure all Images are replaced
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

Delete Legacy Images
  docs/fbw-a32nx/assets/feature-guides/simbrief/deboarded1.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/deboarding2.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-loaded.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb1.jpg
Labels: none

refactor: back to top button css
  docs/stylesheets/navigation.css
Labels: none

Replace Screenshots and alter Docs where discrepancies where found
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_cargo.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_zfw.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-sliders.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_boarding2.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_location.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_simbrief.png
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload-values.png
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload.png
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

Remove last TODOs
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

Recompress and Resize Necessary Images
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_cargo.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_zfw.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-sliders.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_boarding2.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_location.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_simbrief.png
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload-values.png
Labels: none

Delete Legacy Image
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb2.png
Labels: none

Fixing external link to localization page on a32nx repo
  docs/dev-corner/dev-guide/specific/flypad-translations.md
Labels: none

build: bump mkdocs-material -> 9.1.5
  mkdocs.yml
  requirements.txt
Labels: repo

Fixing external link to localization page on a32nx repo
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload.png
Labels: none

Made hyperlinks point to the correct resources
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
Labels: feature guide

docs: New Screenshots for Flypad Boarding Page (#778)
  docs/fbw-a32nx/assets/feature-guides/simbrief/deboarded1.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/deboarding2.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_cargo.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_zfw.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-loaded.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-sliders.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb1.jpg
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb2.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_boarding2.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_location.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_simbrief.png
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload-values.png
  docs/fbw-a32nx/assets/flypados3/flypad-ground-payload.png
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

fix: updated broken links (#779)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
Labels: feature guide

refactor: back to top button css (#777)
  docs/stylesheets/navigation.css
Labels: none

build: bump mkdocs-material -> 9.1.5 (#776)
  mkdocs.yml
  requirements.txt
Labels: repo

Change Admonition
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

Initial Draft for Alternate Law Docs
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Minor Grammatical Changes
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

remove old build-validation.yml
  .github/workflows/build-validation.yml
Labels: none

test: add check for org member + maintainer manual-build-validate.yml
  .github/workflows/manual-build-validate.yml
Labels: none

check for label in build-validation.yml WIP
  .github/workflows/build-validation.yml
Labels: none

remove comment
  .github/workflows/manual-build-validate.yml
Labels: none

new label based PR checks and auto merging
  .github/workflows/pr-checks.yml
Labels: none

Formatting and wording changed
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Failure cases v1
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Formatting fix
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Formatting Changes 2
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Add Direct Law Warning
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Minor Changes
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

More reworking
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

self detected failures, formatting and special failures
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Major additions and reworks Altn Law
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

tiny change for image implement
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Apply suggestions from code review
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Apply more changes from Review
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Apply even more suggestions from code review
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

streamline pr-checks.yml
  .github/workflows/pr-checks.yml
Labels: none

Apply suggestions from code review
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Laws capitalized, as they should be for established Names for flight conditions
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

Apply suggestions from code review
  docs/pilots-corner/advanced-guides/protections/altnlaw.md
Labels: advanced guides

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
