Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

first text
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
  docs/fbw-a32nx/index.md
Labels: feature guide

fix: rudder trim reset event
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix: rudder trim reset event
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

intro paragraph capitalization
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
Labels: feature guide

feat: custom air conditioning
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/EFBFailures.JPG
  docs/fbw-a32nx/assets/feature-guides/air-conditioning/air-cond-failures.jpg
  docs/fbw-a32nx/feature-guides/.pages
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
  docs/fbw-a32nx/index.md
Labels: feature guide

docs(release): v0.11.0 release notes
  docs/release-notes/v0110.md
Labels: none

initial draft
  docs/release-notes/v0110.md
Labels: none

add simbrief info to release - fix simbrief page
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/release-notes/v0110.md
Labels: feature guide

formatting
  docs/release-notes/v0110.md
Labels: none

update flypad settings
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

draft v2
  docs/release-notes/v0110.md
Labels: none

remove extra intro text
  docs/release-notes/v0110.md
Labels: none

update references to development version of the aircraft
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/preflight.md
Labels: beginner guide, advanced guides, feature guide

Beheh review
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide, feature guide

fdr information and further draft
  docs/release-notes/v0110.md
Labels: none

fix crossbleed internal link
  docs/release-notes/v0110.md
Labels: none

formatting remove simbridge section
  docs/release-notes/v0110.md
Labels: none

add suggestion from RogePete
  docs/release-notes/v0110.md
Labels: none

remove stable versioning throughout docs
  docs/dev-corner/dev-guide/resources.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, feature guide

add release graphic
  docs/release-notes/assets/0.11.0_graphic.png
  docs/release-notes/v0110.md
Labels: none

support team edits
  docs/release-notes/v0110.md
Labels: none

update to glossy optimization for release graphic
  docs/release-notes/assets/0.11.0_graphic.png
  docs/release-notes/assets/0.11.0_graphic_op.png
  docs/release-notes/v0110.md
Labels: none

minor changes and internal links
  docs/release-notes/v0110.md
Labels: none

add custom ac page to release notes
  docs/release-notes/v0110.md
Labels: none

typos and formatting
  docs/release-notes/v0110.md
Labels: none

update isis information
  docs/release-notes/v0110.md
Labels: none

Apply suggestions from code review - Holland + Slein
  docs/release-notes/v0110.md
Labels: none

add arinc abbreviation tooltip
  docs/release-notes/v0110.md
Labels: none

draft v3
  docs/release-notes/v0110.md
Labels: none

draft v4
  docs/release-notes/v0110.md
Labels: none

clean up duplicates in changelog entry
  docs/release-notes/v0110.md
Labels: none

quick links
  docs/release-notes/v0110.md
Labels: none

update latest release redirect
  mkdocs.yml
Labels: repo

add title to release notes
  docs/release-notes/v0110.md
Labels: none

update feature guides index.md
  docs/fbw-a32nx/feature-guides/index.md
Labels: feature guide

abbr included
  docs/release-notes/v0110.md
Labels: none

update and optimize flypad images
  docs/fbw-a32nx/assets/flypados3/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-sim-options.png
Labels: none

update navigraph section
  docs/release-notes/v0110.md
Labels: none

donbikes review
  docs/release-notes/v0110.md
Labels: none

docs(release): v0.11.0 release notes
  docs/dev-corner/dev-guide/resources.md
  docs/fbw-a32nx/assets/flypados3/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-sim-options.png
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/release-notes/assets/0.11.0_graphic_op.png
  docs/release-notes/v0110.md
  mkdocs.yml
Labels: beginner guide, advanced guides, feature guide, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
