Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

add changelog
  docs/release-notes/v0101.md
Labels: none

update nav and fix document
  docs/release-notes/.pages
  docs/release-notes/v0101.md
Labels: none

update convenience link
  mkdocs.yml
Labels: repo

formatting
  docs/release-notes/v0101.md
Labels: none

grammar fix - rogepete
  docs/release-notes/v0101.md
Labels: none

Add „folder“
  docs/dev-corner/qa-process.md
Labels: none

fix: add missing word
  docs/dev-corner/qa-process.md
Labels: none

slein review
  docs/dev-corner/development-projects/documentation.md
Labels: none

slein review 2
  docs/dev-corner/development-projects/documentation.md
Labels: none

update changelog
  docs/release-notes/v0101.md
Labels: none

docs(guide): add image assets process to docs project guide
  docs/dev-corner/development-projects/documentation.md
Labels: none

update sim version in reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

remove colon from changelog
  docs/release-notes/v0101.md
Labels: none

docs(release): v0.10.1 release notes
  docs/release-notes/.pages
  docs/release-notes/v0101.md
  mkdocs.yml
Labels: repo

refactor: clean experimental references from documentation
  docs/fbw-a32nx/fbw-versions.md
Labels: none

update faq.md
  docs/fbw-a32nx/faq.md
Labels: none

start of update a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

update resources.md
  docs/dev-corner/dev-guide/resources.md
Labels: none

fbw-a32nx directory updates
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

archive exp.md
  archive/exp.md
Labels: none

update config's redirects
  mkdocs.yml
Labels: repo

update pilots-corner directory
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: beginner guide, advanced guides

update simbridge directory
  docs/simbridge/index.md
  docs/simbridge/install-configure/installation.md
Labels: simbridge

remove experimental version on terr on nd api
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/faq.md
Labels: none

update discord username for slein
  docs/dev-corner/development-projects/documentation.md
Labels: none

lauvaan review
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide, advanced guides

add admonition to FWS information
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: beginner guide

update installation.md release notes link
  docs/fbw-a32nx/installation.md
Labels: none

change installation.md release note link to be internal
  docs/fbw-a32nx/installation.md
Labels: none

bring back exp.md in redacted form
  docs/fbw-a32nx/support/exp.md
Labels: support

refactor: remove experimental references from documentation
  archive/exp.md
  docs/dev-corner/dev-guide/resources.md
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/simbridge/index.md
  docs/simbridge/install-configure/installation.md
  mkdocs.yml
Labels: beginner guide, advanced guides, feature guide, support, simbridge, repo

add routes and files
  docs/fbw-a380x/assets/routes/aarroutes.jpg
  docs/fbw-a380x/assets/routes/anaroutes.jpg
  docs/fbw-a380x/assets/routes/bawroutes.jpg
  docs/fbw-a380x/assets/routes/dlhroutes.jpg
  docs/fbw-a380x/assets/routes/kalroutes.jpg
  docs/fbw-a380x/assets/routes/qfaroutes.jpg
  docs/fbw-a380x/assets/routes/qtrroutes.jpg
  docs/fbw-a380x/routes/operating/AAR.md
  docs/fbw-a380x/routes/operating/ANA.md
  docs/fbw-a380x/routes/operating/BAW.md
  docs/fbw-a380x/routes/operating/DLH.md
  docs/fbw-a380x/routes/operating/KAL.md
  docs/fbw-a380x/routes/operating/QFA.md
  docs/fbw-a380x/routes/operating/QTR.md
Labels: none

build: bump mkdocs-material -> 9.1.18
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.1.18
  requirements.txt
Labels: repo

docs(resources): add tech stack / language table summary
  docs/dev-corner/dev-guide/resources.md
Labels: none

fix table formatting
  docs/dev-corner/dev-guide/resources.md
Labels: none

build: remove urllib3 version lock
  requirements.txt
Labels: repo

docs(resources): add tech stack / language table summary
  docs/dev-corner/dev-guide/resources.md
Labels: none

Add link to sombridge troubleshooting
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix period
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
