Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
Labels: feature guide

admons
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

review and changes to airliner docs
  docs/pilots-corner/airliner/abbreviations.md
  docs/pilots-corner/airliner/airliner-flying-guide/altitude-refs.md
  docs/pilots-corner/airliner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner/airliner-flying-guide/overview.md
  docs/pilots-corner/airliner/airliner-flying-guide/runway-conditions.md
Labels: none

change mit warnings to note & info
  docs/dev-corner/qa-process.md
Labels: none

use only one style (info)
  docs/dev-corner/qa-process.md
Labels: none

docs(a32nx):: update efis overlay api
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

docs: update efis overlay api
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix admonition titles
  docs/dev-corner/qa-process.md
Labels: none

refactor(dev corner): Improve template & information in QA Process page
  docs/dev-corner/qa-process.md
Labels: none

Update qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

fix: Fix QA project board link
  docs/dev-corner/qa-process.md
Labels: none

Initial TODO
  TODO_README.md
Labels: repo

Copied A32NX bg to a380x folder
  docs/aircraft/a32nx/feature-guides/flypados3/checklists.md
  docs/pilots-corner/a32nx/.pages
  docs/pilots-corner/a32nx/a32nx-sop.md
  docs/pilots-corner/a380x/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/overview.md
  docs/pilots-corner/a380x/a380x-beginner-guide/powering-down.md
  docs/pilots-corner/a380x/a380x-beginner-guide/preflight.md
  docs/pilots-corner/a380x/a380x-beginner-guide/preparing-mcdu.md
  docs/pilots-corner/a380x/a380x-beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/a380x/a380x-beginner-guide/takeoff-climb-cruise.md
Labels: none

Added provisional content to some overview pages
  TODO_README.md
  docs/aircraft/a32nx/index.md
  docs/pilots-corner/a32nx/a32nx-briefing/index.md
  docs/pilots-corner/a380x/a380x-beginner-guide/descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/a380x/a380x-briefing/.pages
  docs/pilots-corner/a380x/a380x-briefing/index.md
  docs/release-notes/a380x/.pages
  docs/release-notes/a380x/v010.md
  docs/release-notes/a380x/v0111.md
  docs/release-notes/index.md
  overrides/home.html
Labels: repo

Updated TODO
  TODO_README.md
  docs/pilots-corner/index.md
Labels: repo

Added provisional content to some overview pages
  docs/aircraft/index.md
  docs/dev-corner/index.md
  docs/tools/index.md
Labels: none

Fix navigation
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
Labels: none

Fix topics list
  docs/pilots-corner/a380x/a380x-beginner-guide/overview.md
Labels: none

Added A380X SOP page
  docs/pilots-corner/a380x/a380x-sop.md
  docs/pilots-corner/a380x/assets/sop/FBW_A380X_Checklist.pdf
  docs/pilots-corner/a380x/assets/sop/FBW_A380X_SOP.pdf
Labels: none

Added provisional content to some overview pages
  TODO_README.md
  docs/aircraft/.pages
  docs/aircraft/common/.pages
  docs/aircraft/common/index.md
  docs/pilots-corner/index.md
  docs/tools/index.md
Labels: repo

Added chapter Start the Aircraft to A380X beginner guide in new format - (work in progress)
  docs/pilots-corner/a32nx/index.md
  docs/pilots-corner/a380x/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/01_preflight.md
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
  docs/pilots-corner/a380x/a380x-beginner-guide/overview.md
  docs/pilots-corner/a380x/a380x-beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/a380x/index.md
  docs/stylesheets/bg.css
  docs/stylesheets/extra.css
Labels: none

Improved css for the bg
  docs/stylesheets/bg.css
Labels: none

Improved css for the bg
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

Added TODO to mark wip
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

Fixed homepage link to a380x bg
  overrides/home.html
Labels: none

Update to chapter 04
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: none

cleanup gitignore and ignored files
  .gitignore
Labels: repo

Additional fixes
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-beginner-guide/overview.md
Labels: none

Engine Start and Taxi page - wip
  docs/aircraft/a32nx/feature-guides/flypados3/ground.md
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/assets/beginner-guide/taxi/afterstart.png
  docs/pilots-corner/a380x/assets/beginner-guide/taxi/airport-chart-guidelines.png
  docs/pilots-corner/a380x/assets/beginner-guide/taxi/parking-stands-guidelines.png
  docs/stylesheets/extra.css
Labels: none

Prepared FMS page for new content
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
Labels: none

Improved disclaimer
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
Labels: none

Update content and fixing links/img
  archive/flypados2/charts.md
  archive/flypados2/dashboard.md
  archive/flypados2/dispatch.md
  archive/flypados2/failures.md
  archive/flypados2/ground.md
  archive/flypados2/index.md
  archive/flypados2/online-atc.md
  archive/flypados2/performance.md
  archive/flypados2/settings.md
  docs/aircraft/a32nx/feature-guides/flypados3/charts.md
  docs/aircraft/a32nx/feature-guides/flypados3/checklists.md
  docs/aircraft/a32nx/feature-guides/flypados3/dashboard.md
  docs/aircraft/a32nx/feature-guides/flypados3/dispatch.md
  docs/aircraft/a32nx/feature-guides/flypados3/failures.md
  docs/aircraft/a32nx/feature-guides/flypados3/index.md
  docs/aircraft/a32nx/feature-guides/flypados3/online-atc.md
  docs/aircraft/a32nx/feature-guides/flypados3/performance.md
  docs/aircraft/a32nx/feature-guides/flypados3/presets.md
  docs/aircraft/a32nx/feature-guides/flypados3/settings.md
  docs/aircraft/a32nx/feature-guides/gsxintegration/index.md
  docs/pilots-corner/a380x/a380x-beginner-guide/01_preflight.md
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  includes/abbreviations.md
Labels: none

Started with A380-Briefing Flight-Deck - wip
  docs/pilots-corner/a380x/.pages
  docs/pilots-corner/a380x/a380x-briefing/.pages
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/.pages
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/index.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/compass.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/lateral-console.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/main-glare.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/ovhd.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/pedestal.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/seats.md
  docs/pilots-corner/a380x/a380x-briefing/index.md
  docs/pilots-corner/a380x/index.md
Labels: none

Extracted css into separate files
  TODO_README.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/index.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/ovhd.md
  docs/stylesheets/a380x-flight-deck-1.css
  docs/stylesheets/a380x-flight-deck-2.css
Labels: repo

A380-Briefing Flight-Deck - OVHD map
  TODO_README.md
  docs/pilots-corner/a32nx/a32nx-beginner-guide/overview.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/index.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/ovhd.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/adirs.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/air.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/anti-ice.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/apu-fire.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/apu.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/calls.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/cargo-air.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/cargo-smoke.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/cvr.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/elec.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/elt.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/emer-elec.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/eng-fire.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/eng-man.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/eng-start.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/entertainment.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/ext-lt.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/flt-ctl.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/fuel-jettision.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/fuel.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/hyd.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/int-lt.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/maintenance.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/oxygen.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/press.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/rcdr-evac.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/reading.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/resets.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/rmp.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/signs.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/vent.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/wiper.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/overhead.png
Labels: repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
