Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

draft 1
  docs/simbridge/index.md
  docs/simbridge/simbridge-feature-guides/.pages
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: simbridge

draft 1
  docs/simbridge/index.md
  docs/simbridge/simbridge-feature-guides/.pages
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: simbridge

eof empty line
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: none

Update remote-simbridge.md
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: none

remove {{}}
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: none

remove extra extra new line
  docs/simbridge/simbridge-feature-guides/remote-simbridge.md
Labels: none

fix(approaches): grammar correction in documentation header (#748)
  docs/pilots-corner/airliner-flying-guide/approaches.md
Labels: none

build: bump mkdocs-material 9.0.13
  requirements.txt
Labels: repo

remove mike from dependencies
  requirements.txt
Labels: repo

minor grammar fix in resources.md
  docs/dev-corner/dev-guide/resources.md
Labels: none

build: bump mkdocs-material 9.0.13 (#743)
  docs/dev-corner/dev-guide/resources.md
  requirements.txt
Labels: repo

spellchecked dev-corner
  docs/dev-corner/dev-guide/contribute.md
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/dev-guide/resources.md
  docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/specific/bestpractices.md
  docs/dev-corner/dev-guide/specific/flypad-dev.md
  docs/dev-corner/dev-guide/specific/javascript.md
  docs/dev-corner/development-projects/ace.md
  docs/dev-corner/development-projects/discord-bot.md
  docs/dev-corner/development-projects/documentation.md
  docs/dev-corner/development-projects/website.md
  docs/dev-corner/index.md
  docs/dev-corner/qa-process.md
  docs/dev-corner/scenery-developers.md
  docs/dev-corner/texture-changes.md
Labels: none

fix: clarify ICAO speed limits in holds.md
  docs/pilots-corner/advanced-guides/flight-planning/holds.md
Labels: advanced guides

fix: update discord-bot.md contacts
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

additional corrections
  docs/dev-corner/dev-guide/contribute.md
Labels: none

remove a
  docs/dev-corner/dev-guide/contribute.md
Labels: none

fix: spellchecked dev-corner (#752)
  docs/dev-corner/dev-guide/contribute.md
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/dev-guide/resources.md
  docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/specific/bestpractices.md
  docs/dev-corner/dev-guide/specific/flypad-dev.md
  docs/dev-corner/dev-guide/specific/javascript.md
  docs/dev-corner/development-projects/ace.md
  docs/dev-corner/development-projects/discord-bot.md
  docs/dev-corner/development-projects/documentation.md
  docs/dev-corner/development-projects/website.md
  docs/dev-corner/index.md
  docs/dev-corner/qa-process.md
  docs/dev-corner/scenery-developers.md
  docs/dev-corner/texture-changes.md
Labels: none

docs(livery): return livery conversion info into dev-corner
  docs/dev-corner/livery-conversion.md
  docs/fbw-a32nx/liveries.md
Labels: none

header change in liveries.md
  docs/fbw-a32nx/liveries.md
Labels: none

minor copy change to livery-conversion.md
  docs/dev-corner/livery-conversion.md
Labels: none

add search boost to liveries.md
  docs/fbw-a32nx/liveries.md
Labels: none

change title to livery-conversion.md
  docs/dev-corner/livery-conversion.md
Labels: none

docs: Initial content for Quick Controls documentation (#734)
  archive/assets/flypados2/flypad-on-off.png
  docs/fbw-a32nx/assets/flypados3/flypad-hardware-button.png
  docs/fbw-a32nx/assets/flypados3/flypad-quick-controls.png
  docs/fbw-a32nx/assets/flypados3/flypad-status-bar-icons.png
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

Added note to ECAM buttons
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix: Added note to ECAM buttons (#757)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

test updated mkdocs-material
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.1.1
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.1.1 (#758)
  requirements.txt
Labels: repo

style: tbody background color (#747)
  docs/stylesheets/extra.css
Labels: none

feat: reinstate instant loading (#745)
  mkdocs.yml
Labels: repo

First part of a32nx spell check
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/liveries.md
  docs/fbw-a32nx/settings.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/performance-tips.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix: additional text corrections
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/camera-views.md
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/fbw-a32nx/feature-guides/flight-planning.md
  docs/fbw-a32nx/feature-guides/flypados3/presets.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/freetext.md
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/payload.md
  docs/fbw-a32nx/feature-guides/gsxintegration/profile.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/mcdu-keyboard.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/fbw-a32nx/feature-guides/wheel-chocks-cones.md
Labels: feature guide

fix: more corrections in A32Nx
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/index.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/checklists.md
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/dispatch.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/flypados3/online-atc.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

fix: corrected some typos added from this change
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
Labels: feature guide

removed --
  docs/fbw-a32nx/feature-guides/flight-planning.md
Labels: feature guide

fix: Flight Plan Redirect from "Enter flightplan manually" (#761)
  docs/fbw-a32nx/feature-guides/flight-planning.md
Labels: feature guide

Apply suggestions from code review
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

fix: vercel builds failing empty index.md
  docs/index.md
Labels: none

add title to front matter
  docs/index.md
Labels: none

fix: vercel builds failing empty index.md (#763)
  docs/index.md
Labels: none
