Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

hide toc on index for aircraft
  docs/aircraft/index.md
Labels: none

refactor: add clarification for the use of decals
  docs/dev-corner/texture-changes.md
Labels: none

fix aircraft/index.md internal links
  docs/aircraft/index.md
Labels: none

fix: typos / grammatical errors
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/pilots-corner/abbreviations.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, feature guide

refactor: search boost and pitch trim results
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

create h3 for pitch trim + search boost
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

reduce trim pages search boost
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rudder-trim.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/thrust-pitch-trim.md
Labels: a32nx briefing

refactor: readme links and sim version number
  README.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, repo

refactor: readme links and sim version number
  README.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, repo

feat: feature guide update based on PR text
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

new features
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

further updates to the version 2 documentation
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

add check marks
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

remove v1.5 from wx/terr
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

Update docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

update cfms known issues
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

add rnp/rnav warning
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

add cloud break approaches
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

feat: docs for fms v2
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/pilots-corner/a32nx-briefing/mcdu/f-pln.md
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: a32nx briefing, advanced guides, feature guide

fix bad meta cFMS.md
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

build: bump mkdocs-material -> 9.5.27
  requirements.txt
Labels: repo

feat: add fmsv2 known issues
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

add minor fix reported issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

add known issues button cFMS.md for version 2
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

feat: add fmsv2 known issues
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

feat: takeoff performance documentation
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

initial info for performance calc
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

add new advanced guide pages
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/pilots-corner/advanced-guides/flight-planning/.pages
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides, feature guide

review round 1
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

advanced guide text added
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

add mathjax.js
  docs/javascripts/mathjax.js
  mkdocs.yml
Labels: repo

add formulas to advanced page
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

add runway slope header
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides

add images
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/eggl-10-9a.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/egll-to.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/lowi.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/sbrf-to.png
Labels: none

image updates
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides, feature guide

add performance page image
  docs/fbw-a32nx/assets/flypados3/flypad-performance-takeoff.png
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

marketing url redirect
  mkdocs.yml
Labels: repo

Apply suggestions from code review
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides, feature guide

initial beginner-guide changes
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

formatting beginner guide changes
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide
