Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

fix: section anchors not working
  docs/index.md
Labels: none

build: bump mkdocs-material -> 9.1.3
  requirements.txt
Labels: repo

remove navigation instant
  mkdocs.yml
Labels: repo

update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: none

update pr-title.yml
  .github/workflows/pr-title.yml
Labels: none

test: update various CI action versions
  .github/workflows/build-validation.yml
  .github/workflows/manual-build-validate.yml
Labels: none

add contextual comment in mkdocs.yml
  mkdocs.yml
Labels: repo

refactor: admonitions in audio.md
  docs/fbw-a32nx/feature-guides/audio.md
Labels: feature guide

docs: update reported-issues sim version number
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

retitle manual-build-validate.yml
  .github/workflows/manual-build-validate.yml
Labels: none

fix: section anchors not working (#764)
  docs/index.md
  mkdocs.yml
Labels: repo

Warning change
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
Labels: a32nx briefing

Spelling
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
Labels: a32nx briefing

Update docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
Labels: a32nx briefing

fix: ADIR page warning change (#762)
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
Labels: a32nx briefing

refactor: admonitions in audio.md (#767)
  docs/fbw-a32nx/feature-guides/audio.md
Labels: feature guide

docs: update reported-issues sim version number (#768)
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(flypad-translations): add localazy logo and partnership information
  docs/dev-corner/assets/localazy-mono-logo.svg
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  mkdocs.yml
Labels: repo

sanitize image internal link
  docs/dev-corner/dev-guide/specific/flypad-translations.md
Labels: none

grammar corrections
  docs/dev-corner/dev-guide/specific/flypad-translations.md
Labels: none

fix: first corrections in pilot-corner
  docs/pilots-corner/SOP.md
  docs/pilots-corner/abbreviations.md
Labels: none

fix: first part of the beginners guide checked
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/overview.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

fix: second part of the beginners guide
  docs/pilots-corner/beginner-guide/after-landing.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

grammar review Slein
  docs/dev-corner/dev-guide/specific/flypad-translations.md
Labels: none

fix: additional pages checked
  docs/pilots-corner/airliner-flying-guide/overview.md
Labels: none

fix: additional pages checked
  docs/pilots-corner/advanced-guides/data-management.md
  docs/pilots-corner/advanced-guides/flight-phases.md
  docs/pilots-corner/advanced-guides/ice-rain-protection.md
  docs/pilots-corner/advanced-guides/overview.md
  docs/pilots-corner/advanced-guides/protections/afloor.md
  docs/pilots-corner/advanced-guides/protections/overview.md
  docs/pilots-corner/advanced-guides/rejected-take-off.md
  docs/pilots-corner/airliner-flying-guide/altitude-refs.md
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner-flying-guide/navigation.md
  docs/pilots-corner/airliner-flying-guide/runway-conditions.md
  docs/pilots-corner/airliner-flying-guide/weather.md
Labels: advanced guides

test: update various CI action versions (#760)
  .github/workflows/build-validation.yml
  .github/workflows/manual-build-validate.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-title.yml
Labels: none

docs(flypad-translations): add localazy logo and partnership information (#770)
  docs/dev-corner/assets/localazy-mono-logo.svg
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  mkdocs.yml
Labels: repo

docs: update FWC version to match main repository
  docs/fbw-a32nx/index.md
Labels: none

docs: update FWC version to match main repository (#772)
  docs/fbw-a32nx/index.md
Labels: none

fix: spelling check of the advanced Guide
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/advanced-guides/flight-guidance/overview.md
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/example.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/selected-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/speed-control.md
  docs/pilots-corner/advanced-guides/flight-planning/direct.md
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/advanced-guides/flight-planning/fixinfo.md
  docs/pilots-corner/advanced-guides/flight-planning/holds.md
  docs/pilots-corner/advanced-guides/flight-planning/leg-types.md
Labels: advanced guides

Fix a typo
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
Labels: advanced guides

Fix a typo (#773)
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
Labels: advanced guides

docs(disco): change styling of documentation
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

docs(disco): change styling of documentation (#774)
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides

Update maintenance.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

fix capitalization
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

Remove INOP Tag entirely
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

Write out necessary changes
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

Write out necessary changes
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide
