Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

Move new note one section up
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

docs: Added note to TCA section to do MSFS Controller options first
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

fix: remove mention of RMP nav backup being INOP
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

feat: add cabin crew step to takeoff checklist
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

chore: duplicate image, change formatting
  docs/pilots-corner/assets/beginner-guide/takeoff-climb-cruise/CALLS-all.png
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

Update a link for the airport sign and marking reference guide
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

docs: Update a link for the airport sign and marking reference guide
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
Labels: beginner guide

fix: remove mention of RMP nav backup being INOP
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

Update docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

docs(bg): add cabin check to takeoff-climb-cruise.md
  docs/pilots-corner/assets/beginner-guide/takeoff-climb-cruise/CALLS-all.png
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

build: bump mkdocs-material -> 9.5.12
  requirements.txt
Labels: repo

move autosimbrief & introduce navigraph section
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

API Fix LIGHTING_LANDING_1..3
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

build: bump mkdocs-material -> 9.5.12
  requirements.txt
Labels: repo

small grammer correction
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide

add clarification for the us of decals
  docs/dev-corner/texture-changes.md
Labels: none

fix: broken link
  README.md
Labels: repo

docs: add <meta> tags
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/liveries.md
  docs/fbw-a32nx/settings.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/performance-tips.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix: broken link
  README.md
Labels: repo

docs: shorter <meta> tags
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/settings.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/index.md
Labels: support

Update docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

Update docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

Update docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

docs: add <meta> tags (group 2)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/camera-views.md
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/fbw-a32nx/feature-guides/flight-planning.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/checklists.md
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/dispatch.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/online-atc.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/fbw-a32nx/feature-guides/flypados3/presets.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/freetext.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/mcdu-keyboard.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/fbw-a32nx/feature-guides/wheel-chocks-cones.md
Labels: feature guide

docs: add <meta> tags (Group 1)
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/liveries.md
  docs/fbw-a32nx/settings.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/performance-tips.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: correct flyPadOS 3 branding
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/dispatch.md
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/online-atc.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

docs(fms): clearer meta description
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

docs(flight-planning): clearer meta description
  docs/fbw-a32nx/feature-guides/flight-planning.md
Labels: feature guide

docs: add <meta> tags
  docs/pilots-corner/beginner-guide/after-landing.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

docs: add <meta> tags (Group 2)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/camera-views.md
  docs/fbw-a32nx/feature-guides/custom-air-conditioning.md
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/fbw-a32nx/feature-guides/flight-planning.md
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/checklists.md
  docs/fbw-a32nx/feature-guides/flypados3/dashboard.md
  docs/fbw-a32nx/feature-guides/flypados3/dispatch.md
  docs/fbw-a32nx/feature-guides/flypados3/failures.md
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/online-atc.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/fbw-a32nx/feature-guides/flypados3/presets.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/freetext.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/mcdu-keyboard.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/fbw-a32nx/feature-guides/wheel-chocks-cones.md
Labels: feature guide

update images
  docs/fbw-a32nx/assets/flypados3/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
Labels: none

Update instructions for disabling sim crash detection
  docs/fbw-a32nx/assets/settings/msfs-sim-crash-settings.png
  docs/fbw-a32nx/settings.md
Labels: none

fix: Update instructions for disabling sim crash detection
  docs/fbw-a32nx/assets/settings/msfs-sim-crash-settings.png
  docs/fbw-a32nx/settings.md
Labels: none

Fix table headings on VNAV overview page
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
Labels: advanced guides

fix: Fix table headings on VNAV overview page
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
Labels: advanced guides

build: bump mkdocs-material -> 9.5.15
  requirements.txt
Labels: repo

fix: update A32NX checklist to match actually used checklist
  docs/pilots-corner/assets/sop/A32NX Documentation/FBW A32NX Checklist.pdf
  src/sop/src A32NX Manuals/FBW Checklist.docx
Labels: none

feat(flypad-settings): Move Simbrief Import section & introduce navigraph section (#946)
  docs/fbw-a32nx/assets/flypados3/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

build: bump mkdocs-material -> 9.5.17
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.5.17
  requirements.txt
Labels: repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
