Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

slein review
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, advanced guides, feature guide

missed review commits
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

fix broken links
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
Labels: feature guide

feat: takeoff performance documentation
  docs/fbw-a32nx/assets/flypados3/flypad-performance-takeoff.png
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/javascripts/mathjax.js
  docs/pilots-corner/advanced-guides/flight-planning/.pages
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/eggl-10-9a.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/egll-to.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/lowi.png
  docs/pilots-corner/assets/advanced-guides/takeoff-perf/sbrf-to.png
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  mkdocs.yml
Labels: beginner guide, advanced guides, feature guide, repo

build: bump mkdocs-material -> 9.5.27
  requirements.txt
Labels: repo

Fix a typo for CHECK ALT flag
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

docs: Fix a typo for CHECK ALT flag
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing

docs: Document virtualenv for docs project
  docs/dev-corner/development-projects/documentation-project/documentation.md
Labels: none

docs: Document virtualenv for docs project
  docs/dev-corner/development-projects/documentation-project/documentation.md
Labels: none

Update a32nx-breifing/MCDU/PERF to direct to takeoff calc page for v-speeds
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

Added stable version warning
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

Update docs/pilots-corner/a32nx-briefing/mcdu/perf.md
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

fix: Update a32nx-breifing/MCDU/PERF to direct to takeoff calc page
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

feat: updated text
  docs/fbw-a32nx/assets/flypados3/flypad-quick-controls.png
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

fix: spacing
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

fix: spacing
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

fix: text
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

fix: shorten text
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

feat: warning blurb for vatsim
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

feat: quick settings text update (#981)
  docs/fbw-a32nx/assets/flypados3/flypad-quick-controls.png
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

spelling correction flypadOs
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

refactor: qa-process.md add new QA team lead
  docs/dev-corner/qa-process.md
Labels: none

refactor: qa-process.md add new QA team lead
  docs/dev-corner/qa-process.md
Labels: none

build: bump mkdocs-material -> 9.5.30
  requirements.txt
Labels: repo

build: bump mkdocs-material -> 9.5.30
  requirements.txt
Labels: repo

refactor: known issues cFMS and reported-issues.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

refactor: known issues cFMS and reported-issues.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support

bug: correct link for efb fuel page
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: beginner guide

bug: correct link for efb fuel page
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: beginner guide

Modified qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

corrections
  docs/dev-corner/qa-process.md
Labels: none

reworded media section
  docs/dev-corner/qa-process.md
Labels: none

updates
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Updated images
  docs/fbw-a32nx/assets/gsxintegration/gsx-fuel-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-profile-page.png
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/payload.md
  docs/fbw-a32nx/feature-guides/gsxintegration/profile.md
Labels: feature guide

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none

Update docs/dev-corner/qa-process.md
  docs/dev-corner/qa-process.md
Labels: none
