Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'

Update reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Update reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Update reported-issues.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

implement slein's suggestions, minor text formatting
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

implement slein's suggestion v.2
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix bullet point
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

add a colon
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: add link to SimBridge troubleshooting
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(issues): add weather radar mod
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Update reported-issues.md slein review
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(issues): add weather radar mod
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: replace depreciated with deprecated
  docs/fbw-a32nx/feature-guides/nw-tiller.md
Labels: feature guide

Ass the
  docs/fbw-a32nx/feature-guides/nw-tiller.md
Labels: feature guide

docs: replace depreciated with deprecated
  docs/fbw-a32nx/feature-guides/nw-tiller.md
Labels: feature guide

replace labels
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

GSX Intergration explanation added to common issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

tweaked formatting after reviewing preview
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Moved gsx intergration issue from common solutions to common reported
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

admotions added to 'affected versions' where it was missing
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(landing): add MAX manual braking info
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide

fixed some missing titles, ensured consistency where required
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Apply suggestions from code review
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide

docs(landing): add MAX manual braking info
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide

re-add inop note
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

change note wording to be more detailed
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

replace mike to mic
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

api include INT/RAD and PA knob
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

disclaimer for PA
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

remove unneeded note
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

spaced text & btn
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

wording
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
Labels: a32nx briefing

Add Unable to refuel/board/load issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Adjusted British spelling of refueling to US
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Placed apostrophes around boarding so consistent with mention of play button
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Minor language corrections.
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: GSX Integration causing missing/disabled payload/fuel buttons added to Common Issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

fix: Fixing liveries link to flightsim.to
  docs/fbw-a32nx/liveries.md
Labels: none

Extra cleanup of unnecessary part
  docs/fbw-a32nx/liveries.md
Labels: none

fix: Fixing liveries link to flightsim.to
  docs/fbw-a32nx/liveries.md
Labels: none

Slight typo corrected con > can and for clarity mins > minutes
  docs/simbridge/install-configure/configuration.md
Labels: none
