Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

docs: Change docs after implementation of Ground Powered FADECs
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing

docs(api): adjust pump toggle values
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

minor grammar adjustment
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

slein review
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

slein review 2
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

split fuel pump and jet pump
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

remove duplicate information
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

docs(api): adjust pump toggle values
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

feat: added way to get back ctrl from efb
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: change ctr fuel pump to jet pump
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

feat: added way to get back ctrl from efb
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs: update ctr tank button desciption to A320NEO
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

docs: spelling corrections
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

docs: corrected valve closing conditions
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

fix: correct spelling
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

fix: broken list in abnormallaw.md
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

fix: broken list in abnormallaw.md
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides

docs: change ctr fuel pump to jet pump
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

fix: correct typo
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

fix: correct typo
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing

docs: add warning for tca Add-on bindings
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/assets/api-guide/tca-settings.png
Labels: none

docs(issues): add new light mod to problematic section
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

grammar and description changes
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

Adding new main bot developer
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

docs(discord-bot): add new main bot developer
  docs/dev-corner/development-projects/discord-bot.md
Labels: none

docs: add warning for tca Add-on bindings
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/assets/api-guide/tca-settings.png
Labels: none

grammar and swap internal admonition style for offenders
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(issues): add new light mod to problematic section
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

docs(local-files): correct the directory + folder name for local files
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

docs(bg): add autotuning capability and not for stable admonition
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

add title to admonition
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

docs(local-files): correct the directory + folder name for local files
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide

fix: correct simbridge pages
  docs/simbridge/index.md
  docs/simbridge/install-configure/configuration.md
  docs/simbridge/install-configure/installation.md
  docs/simbridge/install-configure/start-simbridge.md
  docs/simbridge/simbridge-feature-guides/coroute.md
  docs/simbridge/simbridge-feature-guides/remote-displays/architecture.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/simbridge/simbridge-feature-guides/terrain.md
  docs/simbridge/troubleshooting.md
Labels: simbridge

docs: add style guide for docs
  docs/dev-corner/development-projects/documentation.md
Labels: none

docs(bg): add autotuning capability and not for stable admonition
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

fix: experimental page
  docs/fbw-a32nx/support/exp.md
Labels: support

fix: review
  docs/fbw-a32nx/support/exp.md
Labels: support

update discord support links
  docs/fbw-a32nx/support/exp.md
Labels: support

update internal simbridge links on page
  docs/fbw-a32nx/support/exp.md
Labels: support

fix: rwy take off
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
