Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

fix: remove most abbr from include to faster build
  includes/abbreviations.example
  includes/abbreviations.md
Labels: none

docs(vnav): update documentation to support dev release
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
Labels: advanced guides

make checklist for feature set
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
Labels: advanced guides

update admonitions in the managed-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
Labels: advanced guides

update bguide descent.md with vnav information
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

update exp.md support page
  docs/fbw-a32nx/support/exp.md
Labels: support

add convenience redirect vnav
  mkdocs.yml
Labels: repo

change thrust to N1
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

fix: change thrust to N1
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

docs(vnav): update documentation to support dev release
  docs/fbw-a32nx/support/exp.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
  docs/pilots-corner/beginner-guide/descent.md
  mkdocs.yml
Labels: beginner guide, advanced guides, support, repo

feat: add abbreviation tooltips
  docs/pilots-corner/abbreviations.md
  includes/abbreviations.example
  includes/abbreviations.md
  mkdocs.yml
Labels: repo

add flyPad wip section
  docs/release-notes/v0100.md
Labels: none

add title to code block in hoppie.md
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

Slein reviews part 1
  docs/release-notes/v0100.md
Labels: none

update intro
  docs/release-notes/v0100.md
Labels: none

remove stable versioning from hoppie and update to v.10
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie1.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc2.png
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

Create v0100.md
  docs/release-notes/v0100.md
Labels: none

add some feature details
  docs/release-notes/v0100.md
Labels: none

introduction paragraph
  docs/release-notes/v0100.md
Labels: none

tracer review edits
  docs/release-notes/v0100.md
Labels: none

adjust major feature section
  docs/release-notes/v0100.md
Labels: none

add gsx internal link
  docs/release-notes/v0100.md
Labels: none

AC copy from commander ga
  docs/release-notes/v0100.md
Labels: none

add flyPad section wip
  docs/release-notes/v0100.md
Labels: none

adjust convenience redirect
  mkdocs.yml
Labels: repo

quick links header
  docs/release-notes/v0100.md
Labels: none

make button for navigraph
  docs/release-notes/v0100.md
Labels: none

EFB Changes, World Map flight-plan and version notification updated
  docs/release-notes/v0100.md
Labels: none

adjust .pages navigation
  docs/release-notes/.pages
Labels: none

more copy and feature details
  docs/release-notes/v0100.md
Labels: none

update admonition formatting
  docs/release-notes/v0100.md
Labels: none

feat: release notes for v0.10.0
  docs/release-notes/v0100.md
Labels: none

AC WIP section
  docs/release-notes/v0100.md
Labels: none

fix admonitions
  docs/release-notes/v0100.md
Labels: none

add navigraph to recommended settings section
  docs/release-notes/v0100.md
Labels: none

basic feature shortcuts
  docs/release-notes/v0100.md
Labels: none

update major feature list - tracer2
  docs/release-notes/v0100.md
Labels: none

change versioning of terrain on nd
  docs/simbridge/index.md
Labels: simbridge

improve autotuning section
  docs/release-notes/v0100.md
Labels: none

slein review 2
  docs/release-notes/v0100.md
Labels: none

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
