Repository flybywiresim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: a32nx briefing, beginner guide, advanced guides, feature guide, support, simbridge, repo

chore: updated experimental page
  docs/fbw-a32nx/support/exp.md
Labels: support

fix(radar): adjust weather admonition to be more specific
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/radar.md
Labels: a32nx briefing

fix(radar): adjust weather admonition to be more specific
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/radar.md
Labels: a32nx briefing

style: correction in troubleshooting
  docs/simbridge/troubleshooting.md
Labels: simbridge

Revert "docs: add style guide for docs"
  docs/dev-corner/development-projects/documentation.md
Labels: none

docs: add style guide for docs
  docs/dev-corner/development-projects/documentation.md
Labels: none

docs: add Slein as docs team member
  docs/dev-corner/development-projects/documentation.md
Labels: none

docs: correct plugin links in docs.md
  docs/dev-corner/development-projects/documentation.md
Labels: none

fix: text corrections in simbridge section
  docs/simbridge/index.md
  docs/simbridge/install-configure/configuration.md
  docs/simbridge/install-configure/installation.md
  docs/simbridge/install-configure/start-simbridge.md
  docs/simbridge/simbridge-feature-guides/coroute.md
  docs/simbridge/simbridge-feature-guides/remote-displays/architecture.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/simbridge/simbridge-feature-guides/terrain.md
  docs/simbridge/troubleshooting.md
Labels: simbridge

style: spaces, numbers and keys
  docs/dev-corner/development-projects/documentation.md
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/fbw-a32nx/feature-guides/flypados3/ground.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/mcdu-keyboard.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/fbw-a32nx/feature-guides/wheel-chocks-cones.md
Labels: feature guide

style: corrections after visual inspection
  docs/dev-corner/development-projects/documentation.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/flypados3/performance.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide

style: numbers, units and spaces part 2
  docs/pilots-corner/a32nx-briefing/ecam/ecam-e-wd.md
  docs/pilots-corner/a32nx-briefing/ecam/sd/apu.md
  docs/pilots-corner/a32nx-briefing/ecam/sd/cruise.md
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/efis_control.md
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/warning.md
  docs/pilots-corner/a32nx-briefing/mcdu/prog.md
Labels: a32nx briefing

update reported-issues.md listed sim version
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

style: numbers, units and spaces part 3
  docs/pilots-corner/a32nx-briefing/limitations.md
  docs/pilots-corner/advanced-guides/data-management.md
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/advanced-guides/flight-guidance/overview.md
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/example.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/nd-symbols.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/selected-modes.md
  docs/pilots-corner/advanced-guides/flight-phases.md
  docs/pilots-corner/advanced-guides/flight-planning/direct.md
  docs/pilots-corner/advanced-guides/flight-planning/fixinfo.md
  docs/pilots-corner/advanced-guides/flight-planning/holds.md
  docs/pilots-corner/advanced-guides/ice-rain-protection.md
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
  docs/pilots-corner/advanced-guides/protections/overview.md
  docs/pilots-corner/advanced-guides/rejected-take-off.md
  docs/pilots-corner/airliner-flying-guide/altitude-refs.md
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner-flying-guide/navigation.md
  docs/pilots-corner/airliner-flying-guide/runway-conditions.md
  docs/pilots-corner/airliner-flying-guide/weather.md
Labels: a32nx briefing, advanced guides

style: numbers, units and spaces part 4
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide

docs: mv old SOP to archive, current from manual
  archive/sop/CG-Trim-Table.pptx
  archive/sop/FBW A32NX Checklist.pdf
  archive/sop/FBW-Doc-Footer.png
  archive/sop/FBW-Doc-Footer.svg
  archive/sop/FBW-Doc-Footer_2.png
  archive/sop/FBW_A320NEO_CHECKLIST.ai
  archive/sop/FBW_A320NEO_CHECKLIST.pdf
  archive/sop/FBW_A320NEO_CHECKLIST_v1.3.ai
  archive/sop/FBW_A320NEO_CHECKLIST_v1.3.pdf
  archive/sop/FBW_A32NX_Checklist.pdf
  archive/sop/FBW_A32NX_NORMAL_PROCEDURES_V1.0.docx
  archive/sop/FBW_A32NX_NORMAL_PROCEDURES_V1.0.pdf
  archive/sop/Flight_Crew_Actions.docx
  archive/sop/flybywire-huge_1.png
  archive/sop/font-2.png
  archive/sop/font.png
  archive/sop/logo.png
  archive/sop/pdfs/FBW_A320NEO_CHECKLIST_v1.3.pdf
  archive/sop/pdfs/FBW_A32NX_CHECKLIST.pdf
  archive/sop/pdfs/FBW_A32NX_NORMAL_PROCEDURES_V1.0.pdf
  archive/sop/plane.png
  docs/pilots-corner/assets/sop/A32NX Documentation/FBW A32NX Checklist.pdf
  docs/pilots-corner/assets/sop/A380 Documentation/FBW A380 Routes.pdf
  docs/pilots-corner/assets/sop/A380 Documentation/FBW A380X Checklist.pdf
  src/sop/src A32NX Manuals/FBW Checklist.docx
  src/sop/src A380 Documentation/FBW A380 Routes.docx
  src/sop/src A380 Documentation/FBW A380X Checklist.docx
Labels: none

docs: abbreviations tooltip test
  includes/abbreviations.md
  mkdocs.yml
Labels: repo

docs: remove duplicate extension
  mkdocs.yml
Labels: repo

Fixed fuelsystem vars
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Fixed no underscores for vars
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Fixed no underscores for vars
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

fix: Fixed fuelsystem vars
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: none

Docs: removed not usable feature
  mkdocs.yml
Labels: repo

style: make abbreviations visible in explenation
  docs/pilots-corner/abbreviations.md
Labels: none

style: additional abbr
  docs/pilots-corner/abbreviations.md
Labels: none

build(vercel): cap urllib3 version
  requirements.txt
Labels: repo

build(vercel): cap urllib3 version
  requirements.txt
Labels: repo

docs(ewd): typo correction in table
  docs/pilots-corner/a32nx-briefing/ecam/ecam-e-wd.md
Labels: a32nx briefing

remove random break tag
  docs/pilots-corner/a32nx-briefing/ecam/ecam-e-wd.md
Labels: a32nx briefing

docs(ewd): typo correction in table
  docs/pilots-corner/a32nx-briefing/ecam/ecam-e-wd.md
Labels: a32nx briefing

style: mark abbr in explenation until L
  docs/pilots-corner/abbreviations.md
Labels: none

fix: reinserted accidently deleted letters
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
Labels: advanced guides

fix: exclude overview.md in advanced planning
  docs/pilots-corner/advanced-guides/flight-planning/overview.md
Labels: advanced guides

style: finish abbr highlighting in explanation
  docs/pilots-corner/abbreviations.md
Labels: none

docs: remove duplicate QN explanations
  docs/pilots-corner/abbreviations.md
Labels: none

style: fix md table formating
  docs/pilots-corner/abbreviations.md
Labels: none

feat: add abbreviations for tooltips
  includes/abbreviations.md
Labels: none

added note for VMCL.
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

subscripting V Speeds
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

fix: added note for VMCL and Subscripted V Speeds
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing

.github/labeler.yml:

a32nx briefing:
  - docs/pilots-corner/a32nx-briefing/**/*

beginner guide:
  - docs/pilots-corner/beginner-guide/**/*

advanced guides:
  - docs/pilots-corner/advanced-guides/**/*

feature guide:
  - docs/fbw-a32nx/feature-guides/**/*

support:
  - docs/fbw-a32nx/support/*

simbridge:
  - docs/simbridge/*

repo:
  - '*'
