Repository flybywiresim/docs, pull requests merged in 2021-12, with the labels that each got.

#323 fix: Fixes from review (donbikes)
  docs/pilots-corner/advanced-guides/protections/overview.md
Labels: advanced guides

#331 docs: Add video to fix info page
  docs/pilots-corner/advanced-guides/flight-planning/fixinfo.md
Labels: advanced guides

#339 docs(issues): TCA Throttle Autobrake Disengages While Looking Around
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/reported-issues.css
Labels: Reported Issues

#330 docs: Docs for Data Management (Stored Waypoints)
  docs/pilots-corner/advanced-guides/.pages
  docs/pilots-corner/advanced-guides/data-management.md
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-ll-2.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-ll.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-pbd-2.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-pbd.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-pbx-2.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/example-pbx.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/flight-plan-stored-waypoints.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-acstatus.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-index-2.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-new-waypoint-page.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-stored-waypoint.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-stored-waypoint_clr.png
  docs/pilots-corner/assets/advanced-guides/stored-waypoints/mcdu-data-stored-waypoint_clr_all.png
Labels: advanced guides

#351 docs: Added Anti-Icd vs- De-Ice in MSFS issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: Reported Issues

#352 docs: Added draft for station load capacity info
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

#353 docs: Added additional details about LL waypoints
  docs/pilots-corner/advanced-guides/data-management.md
Labels: advanced guides

#329 docs: Nose wheel steering and separate hand tiller axis
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/assets/nw-tiller/assistance-options.png
  docs/fbw-a32nx/assets/nw-tiller/flypad-settings-simoptions-tiller.png
  docs/fbw-a32nx/assets/nw-tiller/handwheel-controller-mapping.png
  docs/fbw-a32nx/assets/nw-tiller/handwheel-disconnect-button-mapping.png
  docs/fbw-a32nx/assets/nw-tiller/handwheel-keyboard-mapping.png
  docs/fbw-a32nx/assets/nw-tiller/nosewheel-steering-reference.png
  docs/fbw-a32nx/assets/nw-tiller/side-console-handwheel.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  src/assets/feature-guides/Tiller-Speed-Ref.pptx
  src/assets/feature-guides/nosewheel-steering-reference.psd
Labels: feature guide

#363 docs: Linked Flight-Deck ECAM pages to ECAM section
  docs/pilots-corner/a32nx-briefing/flight-deck/front/lower-ecam.md
  docs/pilots-corner/a32nx-briefing/flight-deck/front/upper-ecam.md
Labels: a32nx briefing

#360 docs: Updated EFB Settings page to split Sim Options and Realism
  docs/fbw-a32nx/assets/flypad/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-realism.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: feature guide

#366 docs: Add 320 Sim Pilot Video to Tiller guide
  docs/fbw-a32nx/feature-guides/nw-tiller.md
Labels: advanced guides

#368 refactor(beginner-guide): update hosted checklist.pdf
  docs/assets/FBW_A32NX_CHECKLIST.pdf
Labels: beginner guide

#354 feat: preflight page in beginner guide
  docs/pilots-corner/beginner-guide/.pages
  docs/pilots-corner/beginner-guide/overview.md
  docs/pilots-corner/beginner-guide/preflight.md
Labels: beginner guide

#370 feat: custom 404 page
  overrides/404.html
Labels: enhancement

#343 docs: New page for MCDU Web Interface
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/assets/mcdu-server/mcdr-server.exe.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-cmd-window.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-folder.png
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
Labels: feature guide

#376 docs: Update to MCDU Server page with troubleshooting and advanced details.
  docs/fbw-a32nx/assets/mcdu-server/ipad-network-info.png
  docs/fbw-a32nx/assets/mcdu-server/mcdr-server.exe.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-architecture.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-cmd-window.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-folder.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-windows-service-printer.png
  docs/fbw-a32nx/assets/mcdu-server/samsung-network-info.png
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.png
  docs/fbw-a32nx/feature-guides/web-mcdu.md
Labels: feature guide
