Repository flybywiresim/docs, pull requests merged in 2022-04, with the labels that each got.

#518 fix(beginner): cat2/3 minima often given as RA
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

#521 docs(beg): add reference to descent.md to approaches.md
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

#523 docs(exp): Update known issues
  docs/fbw-a32nx/support/exp.md
Labels: support

#524 docs(pilotscorner): update and move abbreviations.md
  docs/pilots-corner/.pages
  docs/pilots-corner/a32nx-briefing/pfd/speedtape.md
  docs/pilots-corner/abbreviations.md
  docs/pilots-corner/advanced-guides/protections/overview.md
  docs/pilots-corner/beginner-guide/.pages
  docs/pilots-corner/beginner-guide/overview.md
Labels: a32nx briefing, beginner guide, advanced guides

#525 docs: Added issue and settings tip for Pause function keyboard mapping
  docs/fbw-a32nx/settings.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#526 docs: include logo in the README
  README.md
Labels: changed documentation, repo, waiting on a32nx PR

#532 docs(hoppie): remove manual logon information and associated media
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-atc-hoppie-button.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-settings-realism.png
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

#538 feat(exp): Added info about new gear system on experimental
  docs/fbw-a32nx/support/exp.md
Labels: support

#540 docs(disco): update information and how to deal with various discos
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: advanced guides

#541 build: bump mkdocs-material -> 8.2.10
  requirements.txt
Labels: repo

#544 docs(efb): create quick links and correct typo
  docs/fbw-a32nx/feature-guides/flyPad/index.md
Labels: feature guide

#545 docs: Stable 0.7.5 Release Notes and changes
  docs/fbw-a32nx/support/reported-issues.md
  docs/release-notes/.pages
  docs/release-notes/v075.md
Labels: support

#546 build: external markdown plugin
  mkdocs.yml
  requirements.txt
Labels: repo

#547 docs: update nw tiller information with new setting and variable
  docs/fbw-a32nx/assets/nw-tiller/nws-axis.png
  docs/fbw-a32nx/feature-guides/nw-tiller.md
Labels: feature guide

#548 docs: update Hoppie connection information
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide

#539 docs: A32NX FLight Deck API to reflect Autobrake and LS buttons change
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: a32nx briefing, waiting on a32nx PR

#549 docs(issues): add latest issues after SU9
  docs/fbw-a32nx/support/reported-issues.md
Labels: support
