Repository flybywiresim/docs, pull requests merged in 2022-11, with the labels that each got.

#672 docs: updated documentation with more details and clean up for flight plan sync
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

#673 refactor(config): update youtube social media link to new format
  mkdocs.yml
Labels: repo

#674 docs: Update to SimBrief import documentation to clarify RWY, SID, STAR, APPR
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: changed documentation, feature guide

#665 docs: Updated presets.md for updated Aircraft Presets feature
  docs/fbw-a32nx/assets/flypados3/flypad-presets-aircraft-confirm.png
  docs/fbw-a32nx/assets/flypados3/flypad-presets-aircraft-load.png
  docs/fbw-a32nx/assets/flypados3/flypad-presets-aircraft-status.png
  docs/fbw-a32nx/assets/flypados3/flypad-presets-aircraft-wait.png
  docs/fbw-a32nx/assets/flypados3/flypad-presets-aircraft.png
  docs/fbw-a32nx/feature-guides/flypados3/presets.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#676 build: bump mkdocs-material -> 8.5.10
  docs/stylesheets/extra.css
  requirements.txt
Labels: repo

#677 docs(nd): add internal link to vertical guidance symbols + correct navigation title
  docs/pilots-corner/a32nx-briefing/flight-deck/front/nd.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/.pages
Labels: a32nx briefing

#681 docs(simbridge): terrain on ND switch docs to development
  docs/fbw-a32nx/support/exp.md
  docs/simbridge/assets/taws_peak_mode.png
  docs/simbridge/assets/terr-nd1.png
  docs/simbridge/assets/terr-nd2.png
  docs/simbridge/index.md
  docs/simbridge/terrain.md
Labels: support

#683 docs: Update flyPad settings.md rename MCDU Server to SimBridge
  docs/fbw-a32nx/assets/flypados3/flypad-settings-sim-options.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide
