Repository flybywiresim/docs, pull requests merged in 2022-06, with the labels that each got.

#559 docs(exp): add pause at TOD
  docs/fbw-a32nx/support/exp.md
Labels: support

#579 docs(wb): update documentation with latest implementation
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

#582 build: bump mkdocs-material -> 8.3.3
  requirements.txt
Labels: repo

#583 fix: various typos and corrections
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide

#584 docs: Prepared for Stable 0.8.2 release
  docs/release-notes/.pages
  docs/release-notes/v082.md
  mkdocs.yml
Labels: repo

#586 docs: update hoppie.md with latest features
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-settings-atsu-aoc-page.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie1.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc2.png
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide
