Repository flybywiresim/docs, pull requests merged in 2022-03, with the labels that each got.

#467 build: bump mkdocs-material -> 8.2.3
  requirements.txt
Labels: repo

#466 feat: configure search-exclusions + associated cleanup
  docs/pilots-corner/a32nx-briefing/.pages
  docs/pilots-corner/a32nx-briefing/tbd.md
  mkdocs.yml
  requirements.txt
Labels: a32nx briefing, repo

#465 docs: Added docu for CLR Held and Day/Night Mode
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
Labels: changed documentation, feature guide

#470 docs(issues): add captain side PFD issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#473 docs(issues): update black pfd issue with workaround
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#468 docs: update exp.md for next cycle of testing
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/support/exp.md
Labels: support

#414 docs: fbw rebrand
  docs/assets/hero-image.jpg
  docs/assets/images/FBW-Logo-WHITE.png
  docs/assets/images/FBW-Logo.png
  docs/assets/images/FBW-Square-White.png
  docs/assets/images/FBW-Tail.png
  docs/assets/images/vercel-logotype-light.svg
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.png
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.webp
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/admonitions.css
  docs/stylesheets/extra.css
  docs/stylesheets/navigation.css
  docs/stylesheets/toc-tables.css
  mkdocs.yml
  overrides/assets/stylesheets/home.css
Labels: support, repo

#461 docs: Updated API with new CHRONO clock LVARS
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: changed documentation, a32nx briefing, waiting on a32nx PR

#478 fix: Fixed "Anti Ice" typos on Flight Deck and API Docs
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/anti-ice.md
Labels: a32nx briefing

#476 build: bump mkdocs-material -> 8.2.5
  requirements.txt
Labels: repo

#483 docs(beg-guide): correct usage of trans lvl in descent.md
  docs/pilots-corner/assets/beginner-guide/descent/EGKK-APPR-char-1.png
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide

#484 refactor: references to #support channel to #a32nx-support
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: a32nx briefing, feature guide, support

#477 feat: create dedicated audio page
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: feature guide

#489 docs(texture-changes): update texture information
  docs/dev-corner/assets/a32nx-dev/cargo-door-uv.png
  docs/dev-corner/texture-changes.md
Labels: waiting on a32nx PR

#495 docs(issues): add new performance issue + general clean up
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#498 docs(exp): update page with new testing information
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/support/exp.md
Labels: support

#435 docs: Update to w&b page for #6701
  docs/fbw-a32nx/assets/feature-guides/simbrief/simbrief-myfleet.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/simbrief-pax-baggage.png
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#499 docs: Update MCDU Server Documentation for Timeout feature
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/assets/mcdu-server/efb-setting-simoptions.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: changed documentation, feature guide

#472 feat: tcas documentation
  docs/pilots-corner/advanced-guides/flight-guidance/assets/tcas-level-ra.png
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/assets/advanced-guides/flight/other-traffic.png
  docs/pilots-corner/assets/advanced-guides/flight/pfd-tcas.png
  docs/pilots-corner/assets/advanced-guides/flight/pfd-vsi.png
  docs/pilots-corner/assets/advanced-guides/flight/proximate.png
  docs/pilots-corner/assets/advanced-guides/flight/resolution-advisory.png
  docs/pilots-corner/assets/advanced-guides/flight/tcas-arrow-down.png
  docs/pilots-corner/assets/advanced-guides/flight/tcas-arrow-up.png
  docs/pilots-corner/assets/advanced-guides/flight/tcas-traffic.png
  docs/pilots-corner/assets/advanced-guides/flight/traffic-advisory.png
Labels: advanced guides

#504 build: bump mkdocs-material -> 8.2.7
  requirements.txt
Labels: repo

#506 docs(exp): update with flyPad information
  docs/fbw-a32nx/support/exp.md
Labels: support

#508 docs(issues): update known issues + bugs
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#507 docs(beg-guide): update THS section and INIT B (old)
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

#510 docs(wb): corrections and clarifications to guide
  docs/fbw-a32nx/assets/feature-guides/simbrief/simbrief-myfleet.png
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

#513 docs: Update to Texture Docu - bandit, elevator, logo
  docs/dev-corner/assets/textures/logo-mesh.png
  docs/dev-corner/assets/textures/uv-map-legend.png
  docs/dev-corner/texture-changes.md
Labels: changed documentation

#515 fix(flyPad): change "battery symbol" to "power symbol" to match picture.
  docs/fbw-a32nx/feature-guides/flyPad/index.md
Labels: feature guide

#511 build: bump mkdocs-material -> 8.2.8
  requirements.txt
Labels: repo
