Repository flybywiresim/docs, pull requests merged in 2022-02, with the labels that each got.

#425 build: bump mkdocs-material -> 8.1.9
  requirements.txt
Labels: repo

#422 docs: Created documentation page for Hoppie ACARS System
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance-p2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance-wilco.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-climb.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-contact.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-current-atc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-logoff.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-atc-hoppie-button.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-settings-atsu-aoc-page.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-settings-realism.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-aoc-pdc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-msglog.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-notif-failed.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-notif.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-pdc-filled.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-pdc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/stdby.png
  docs/fbw-a32nx/assets/flypad/flypad-online-atc-vatsim.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-realism.png
  docs/fbw-a32nx/assets/flypad/online-atc-frequency.png
  docs/fbw-a32nx/feature-guides/flyPad/online-atc.md
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: new documentation, feature guide

#429 fix: Fixes and additions to A32NX API
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: changed documentation, a32nx briefing

#436 docs: Error Reporting guide to settings.md and EFB Settings
  docs/fbw-a32nx/assets/flypad/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/settings/efb-settings-atsuaoc-error-reporting.png
  docs/fbw-a32nx/assets/settings/error-reporting-consent.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/settings.md
Labels: new documentation, feature guide

#440 docs: update leg-types.md page
  docs/pilots-corner/advanced-guides/flight-planning/leg-types.md
Labels: advanced guides

#442 fix: Updated flight-deck dcdu page to link to Hoppie docs
  docs/pilots-corner/a32nx-briefing/flight-deck/front/dcdu.md
  docs/pilots-corner/assets/a32nx-briefing/front/DCDU.jpg
  docs/pilots-corner/assets/a32nx-briefing/front/DCDU.png
Labels: documentation bug, changed documentation, a32nx briefing

#444 docs: Updated EFB Dashboard guide with new METAR widget features.
  docs/fbw-a32nx/assets/flypad/weather-widget-input.png
  docs/fbw-a32nx/feature-guides/flyPad/dashboard.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#445 fix: Updated API for Air Condition Panel after a32nx PR
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: changed documentation, a32nx briefing

#446 build: bump mkdocs-material -> 8.2.1
  requirements.txt
Labels: repo

#447 docs: update experimental support page
  docs/fbw-a32nx/support/exp.md
Labels: support

#441 refactor: design of various quick link sections + code blocks
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/development-projects/index.md
  docs/dev-corner/index.md
  docs/fbw-a32nx/a32nx-api/index.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/flyPad/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/support/index.md
  docs/pilots-corner/a32nx-briefing/ecam/index.md
  docs/pilots-corner/a32nx-briefing/index.md
  docs/pilots-corner/a32nx-briefing/pfd/index.md
  docs/pilots-corner/advanced-guides/overview.md
  docs/pilots-corner/airliner-flying-guide/overview.md
  docs/pilots-corner/beginner-guide/overview.md
  docs/pilots-corner/index.md
  docs/stylesheets/toc-tables.css
Labels: a32nx briefing, beginner guide, feature guide, advanced guides, support

#453 docs: Update hoppie.md page with Auto ATIS and Oceanic Clearance.
  docs/fbw-a32nx/assets/feature-guides/hoppie/atc-menu-p1.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/atc-menu-p2-atis.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/atc-menu-p2-dcl.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/atc-menu-p2-ocl.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance-p2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance-wilco.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-clearance.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-dcl-after-send.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-dcl-before-send.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-ocl-clearance.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/dcdu-ocl-req.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/efb-settings-atsu-aoc-page.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-aoc-pdc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-4.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-autoupdate.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-details.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-menu-2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-menu-3.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-atis-menu.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-dcl.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-dlc-filled.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-ocl.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-olc-filled.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-pdc-filled.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/mcdu-pdc.png
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#459 feat: add cfms v1.5 features and move TCAS out of exp.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/exp.md
  docs/pilots-corner/advanced-guides/flight-guidance/.pages
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
Labels: feature guide, advanced guides, support

#464 fix: Fixed errors and updates on Flight Deck API page
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
Labels: documentation bug, changed documentation, a32nx briefing

#460 docs: Updated EFB flyPad settings page for Audio
  docs/fbw-a32nx/assets/flypad/flypad-settings-audio.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#463 docs: Updated EFB flyPad settings page for Calculated ILS usage option
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: changed documentation, feature guide, waiting on a32nx PR
