Repository flybywiresim/docs, pull requests merged in 2022-07, with the labels that each got.

#587 docs(bg): update MCDU guide with new routing and OFP
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu10.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu12.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu15.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.png
  docs/pilots-corner/assets/beginner-guide/mcdu/sample-ofp.pdf
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

#588 docs: add web mcdu 4:3 aspect ratio compatibility mode section
  docs/fbw-a32nx/feature-guides/web-mcdu.md
Labels: feature guide

#591 fix: wording for MCDU Server guide
  docs/fbw-a32nx/feature-guides/web-mcdu.md
Labels: feature guide

#590 build: bump mkdocs-material -> 8.3.9
  requirements.txt
Labels: repo

#592 docs(feature): Update custom-hydraulics.md
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
Labels: feature guide

#594 docs: Fix spelling mistakes
  docs/pilots-corner/advanced-guides/protections/afloor.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, advanced guides

#595 docs: Fix more spelling mistakes
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/advanced-guides/flight-phases.md
  docs/pilots-corner/airliner-flying-guide/approaches.md
Labels: advanced guides

#593 docs(wb): GW, check weight, and init fuel pred changes
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, feature guide

#598 feat: markdown syntax for youtube embeds
  docs/dev-corner/development-projects/documentation.md
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/pilots-corner/advanced-guides/data-management.md
  docs/pilots-corner/advanced-guides/flight-planning/fixinfo.md
  docs/release-notes/v070.md
  mkdocs.yml
  requirements.txt
Labels: feature guide, advanced guides, repo

#600 docs(audio): add audio showcase
  docs/fbw-a32nx/feature-guides/audio.md
Labels: feature guide

#603 feat(simbridge): Further Documentation
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/release-notes/v080.md
  docs/simbridge/.pages
  docs/simbridge/assets/firewall_rules.png
  docs/simbridge/assets/fwrules-dialog.png
  docs/simbridge/assets/ipad-network-info.png
  docs/simbridge/assets/mcdu-coroute-selection-page.png
  docs/simbridge/assets/mcdu-init-a-load.png
  docs/simbridge/assets/samsung-network-info.png
  docs/simbridge/assets/simbridge-location.png
  docs/simbridge/assets/simbridge/autostart_prompt.png
  docs/simbridge/assets/simbridge/efb-setting-simoptions.png
  docs/simbridge/assets/simbridge/exec_location.png
  docs/simbridge/assets/simbridge/installer_prompt.png
  docs/simbridge/assets/simbridge/manual_start_running.png
  docs/simbridge/assets/simbridge/simbridge_config.png
  docs/simbridge/assets/simbridge/simbridge_installing.png
  docs/simbridge/assets/simbridge/simbridge_stop_tm.png
  docs/simbridge/assets/simbridge/simbridge_window.png
  docs/simbridge/assets/simbridge/simbrief-datafile-download.png
  docs/simbridge/assets/simbridge/tray_stop.png
  docs/simbridge/assets/simbridge/trayicon-remote-mcdu.png
  docs/simbridge/assets/simbridge/trayicon-resource.png
  docs/simbridge/assets/simbridge/web-mcdu-ipad.webp
  docs/simbridge/assets/taws_color_coding.png
  docs/simbridge/assets/taws_peak_mode.png
  docs/simbridge/assets/temp_folder.png
  docs/simbridge/autostart.md
  docs/simbridge/configuration.md
  docs/simbridge/coroute.md
  docs/simbridge/index.md
  docs/simbridge/installation.md
  docs/simbridge/pdf-viewer.md
  docs/simbridge/remote-displays/architecture.md
  docs/simbridge/remote-displays/configuration.md
  docs/simbridge/remote-displays/remote-mcdu.md
  docs/simbridge/terrain.md
  docs/simbridge/troubleshooting.md
  mkdocs.yml
Labels: feature guide

#604 docs(exp): update experimental support page
  docs/fbw-a32nx/assets/support-guide/terrain1.png
  docs/fbw-a32nx/assets/support-guide/wb_new1.png
  docs/fbw-a32nx/support/exp.md
  docs/simbridge/terrain.md
Labels: support

#606 docs(advanced-guide): update pi leg to supported
  docs/pilots-corner/advanced-guides/flight-planning/leg-types.md
Labels: advanced guides

#609 docs: Clarification of retracting landing lights
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide
