Repository flybywiresim/docs, pull requests merged in 2022-01, with the labels that each got.

#383 docs: Adding reset section to throttle calibration guide
  docs/fbw-a32nx/assets/flypad/throttle-calibration/efb-calibration-page-reset.png
  docs/fbw-a32nx/assets/flypad/throttle-calibration/efb-calibration-page1.png
  docs/fbw-a32nx/feature-guides/flyPad/throttle-calibration.md
Labels: feature guide

#392 docs(issues): added h3 element to live weather ctd issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#395 docs: Added disco.md page
  docs/pilots-corner/advanced-guides/flight-planning/.pages
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-1.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-2.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-dirto.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-heading.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-manual-chart.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-manual-chart_1.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-manual-conceptual.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-manual-nd-plan.png
  docs/pilots-corner/assets/advanced-guides/disco/mcdu-discontinuity-manual-nd.png
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: advanced guides

#396 docs(beg-guide): add short flex temp description + small changes
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

#398 fix: Various fixes from issue #397
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/ecam-control.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/flaps.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/mcdu.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/rmp.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/thrust-elev-trim.md
  docs/pilots-corner/a32nx-briefing/pfd/second-column.md
Labels: documentation bug, a32nx briefing

#400 docs: update sim version and announcement bar
  docs/fbw-a32nx/support/reported-issues.md
  overrides/main.html
Labels: support

#399 build: bump mkdocs-material to 8.1.4
  requirements.txt
Labels: repo

#401 docs: 0.7.4 release notes
  docs/release-notes/.pages
  docs/release-notes/v074.md
  mkdocs.yml
  overrides/main.html
  src/release notes ata chapters.txt
Labels: repo

#402 docs(exp): add new AP/FBW sensitivity section
  docs/fbw-a32nx/support/exp.md
Labels: support

#403 fix: Fixed V speed writing with correct subscripts
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
  docs/pilots-corner/a32nx-briefing/pfd/speedtape.md
  docs/pilots-corner/advanced-guides/protections/overview.md
  docs/pilots-corner/beginner-guide/abbreviations.md
  docs/release-notes/v072.md
Labels: documentation bug

#404 docs: Updated CTD troubleshooting and added Clean Install Batch
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: changed documentation, support

#408 docs(exp): add information about TCAS performance
  docs/fbw-a32nx/support/exp.md
Labels: support

#405 docs(issues): update issues list + add installer issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#412 build: bump mkdocs-material -> 8.1.6
  requirements.txt
Labels: repo

#406 docs: Added ICAO input docu to the flyPad dashboard page
  docs/fbw-a32nx/assets/flypad/weather-widget-input.png
  docs/fbw-a32nx/feature-guides/flyPad/dashboard.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#410 docs: Added custom AP sensitivity settings to autopilot-fbw.md
  docs/fbw-a32nx/assets/feature-guides/sensitivity-custom-ap.png
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/support/exp.md
Labels: changed documentation, feature guide, support, waiting on a32nx PR

#417 build: bump mkdocs-material -> 8.1.7
  requirements.txt
Labels: repo

#418 docs: Update to API and Hardware section
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/assets/api-guide/A32NX FBW MSFS2020.pdf
Labels: changed documentation

#380 docs: Changes due to updated MCDU Server feature
  docs/fbw-a32nx/assets/flypad/flypad-settings-atsu-aoc-telex-warning.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/assets/flypad/simbrief-account-data.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-firewall-automatic-rules-2.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-firewall-automatic-rules.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-server-cmd-window.png
  docs/fbw-a32nx/assets/mcdu-server/mcdu-windows-auto-fwrules-dialog.png
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.png
  docs/fbw-a32nx/assets/mcdu-server/windows-command-prompt.png
  docs/fbw-a32nx/assets/mcdu-server/windows-shortcut-dialog.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/stylesheets/web-mcdu.css
Labels: changed documentation, feature guide, waiting on a32nx PR

#416 docs: Update loading-fuel-weight.md with new cargo limits and extra info
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#407 docs: Added updated images and Home Cockpit Mode setting
  docs/fbw-a32nx/assets/flypad/flypad-settings-aircraft-configuration.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-audio.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-defaults.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-flypad.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-realism.png
  docs/fbw-a32nx/assets/flypad/flypad-settings-sim-options.png
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: changed documentation, feature guide, waiting on a32nx PR
