Repository flybywiresim/docs, pull requests merged in 2022-05, with the labels that each got.

#554 build: bump mkdocs-material -> 8.2.13
  requirements.txt
Labels: repo

#551 docs(release): v0.8.0 release notes + removal of stable tags
  docs/fbw-a32nx/assets/settings/ai-settings-new.png
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/feature-guides/flyPad/index.md
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
  docs/fbw-a32nx/feature-guides/flyPad/throttle-calibration.md
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/nw-tiller.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/settings.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/radar.md
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
  docs/pilots-corner/advanced-guides/flight-planning/fixinfo.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/release-notes/.pages
  docs/release-notes/assets/comparisonfms1.png
  docs/release-notes/assets/comparsionfms2.png
  docs/release-notes/assets/efb-firstofficer.png
  docs/release-notes/v080.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: a32nx briefing, beginner guide, feature guide, advanced guides, repo

#557 feat: add info about new hydraulic gear system
  docs/fbw-a32nx/assets/custom-hydraulics/gear/crank_handle.png
  docs/fbw-a32nx/assets/custom-hydraulics/gear/emergency_input.png
  docs/fbw-a32nx/feature-guides/.pages
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/fbw-a32nx/support/exp.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/gravity-gear-ext.md
Labels: a32nx briefing, feature guide

#558 build: add mike plugin to requirements.txt
  requirements.txt
Labels: repo

#555 docs(exp): update support wording
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/support/exp.md
Labels: support

#338 docs: New page for Wheel Chocks and GSE Safety Cones
  docs/fbw-a32nx/assets/feature-guides/chocks-cones/chocks.png
  docs/fbw-a32nx/assets/feature-guides/chocks-cones/chocks_2.png
  docs/fbw-a32nx/assets/feature-guides/chocks-cones/cones.png
  docs/fbw-a32nx/assets/feature-guides/chocks-cones/efb-ground-chocks-cones-.png
  docs/fbw-a32nx/assets/flypad/flypad-ground.png
  docs/fbw-a32nx/feature-guides/.pages
  docs/fbw-a32nx/feature-guides/flyPad/ground.md
  docs/fbw-a32nx/feature-guides/wheel-chocks-cones.md
Labels: new documentation, feature guide, waiting on a32nx PR

#564 docs(advanced): update leg type implementation status
  docs/pilots-corner/advanced-guides/flight-planning/leg-types.md
Labels: advanced guides

#560 docs(release-notes): v0.8.1 release notes + update settings.md
  docs/fbw-a32nx/settings.md
  docs/release-notes/.pages
  docs/release-notes/v081.md
  mkdocs.yml
Labels: repo

#565 docs(w&b): add fuel persistence feature
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide

#567 docs(efb): make note of VDL3 simulation and add warning
  docs/fbw-a32nx/feature-guides/flyPad/settings.md
Labels: feature guide

#563 docs: Update gravity extention docs
  docs/fbw-a32nx/feature-guides/custom-hydraulics.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/gravity-gear-ext.md
Labels: a32nx briefing, feature guide

#571 docs(simbrief): add detailed navlog setting instructions
  docs/fbw-a32nx/assets/feature-guides/simbrief/OFP-settings.png
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide

#566 docs(cfms): add world map flight plans
  docs/fbw-a32nx/feature-guides/cFMS.md
Labels: feature guide

#569 build: bump mkdocs-material -> 8.2.15
  requirements.txt
Labels: repo
