Repository flybywiresim/docs, pull requests merged in 2022-08, with the labels that each got.

#611 refactor: bring back web-mdcu.md for compatibility with dev + stable
  docs/fbw-a32nx/assets/mcdu-server/efb-setting-simoptions.png
  docs/fbw-a32nx/assets/mcdu-server/web-mcdu-ipad.webp
  docs/fbw-a32nx/feature-guides/web-mdcu.md
Labels: feature guide

#612 refactor: correct elevation trim with pitch trim + navigation fixes
  docs/pilots-corner/a32nx-briefing/a32nx_api.md
  docs/pilots-corner/a32nx-briefing/flight-deck/index.md
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/thrust-pitch-trim.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: a32nx briefing, beginner guide

#597 docs(wb): add new efb loading process
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_cargo.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/pax_zfw.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-boarding.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb-sliders.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_boarding2.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_location.png
  docs/fbw-a32nx/assets/feature-guides/simbrief/wb_simbrief.png
  docs/fbw-a32nx/feature-guides/audio.md
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/stylesheets/extra.css
Labels: beginner guide, feature guide

#618 feat: add EFCS to exp.md
  docs/fbw-a32nx/support/exp.md
Labels: support

#620 docs(issues): update reported issues and fix marketplace issue
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#619 docs(development-corner): add scenery dev tips
  docs/dev-corner/.pages
  docs/dev-corner/index.md
  docs/dev-corner/scenery-developers.md
Labels: new documentation

#621 refactor: remote-mcdu.md and web-mcdu.md internal links + formatting
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/simbridge/remote-displays/remote-mcdu.md
Labels: feature guide

#622 docs: Added EFIS Sync to flyPad3 Realism Settings page and updated screenshot.
  docs/fbw-a32nx/assets/flypados3/flypad-settings-realism.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: changed documentation, feature guide

#628 refactor: telex redirect
  mkdocs.yml
Labels: repo

#629 fix(audio): new "prepare for takeoff" sound event trigger
  docs/fbw-a32nx/feature-guides/audio.md
Labels: feature guide

#630 feat: simbridge update to dev
  docs/fbw-a32nx/feature-guides/web-mcdu.md
  docs/simbridge/index.md
  docs/simbridge/remote-displays/remote-mcdu.md
Labels: feature guide

#632 docs(flyPad OS3): automatic lighting presets
  docs/fbw-a32nx/assets/flypados3/lighting-presets.png
  docs/fbw-a32nx/feature-guides/flypados3/presets.md
Labels: feature guide

#627 feat(adv-guides): flight planning direct feature
  docs/pilots-corner/advanced-guides/flight-planning/.pages
  docs/pilots-corner/advanced-guides/flight-planning/direct.md
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/assets/advanced-guides/direct/dir-page.png
  docs/pilots-corner/assets/advanced-guides/direct/direct1.png
  docs/pilots-corner/assets/advanced-guides/direct/direct2.png
  docs/pilots-corner/assets/advanced-guides/direct/direct3.png
Labels: advanced guides
