Repository flybywiresim/docs, pull requests merged in 2022-10, with the labels that each got.

#663 build: bump mkdocs-material -> 8.5.6
  docs/stylesheets/admonitions.css
  mkdocs.yml
  requirements.txt
Labels: repo

#658 docs: flyPad local files documentation
  docs/fbw-a32nx/assets/flypados3/local-files-establish-connection.png
  docs/fbw-a32nx/assets/flypados3/local-files-example.png
  docs/fbw-a32nx/assets/flypados3/local-files-img-example.png
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/simbridge/index.md
Labels: changed documentation, feature guide, waiting on a32nx PR

#664 refactor: Collection of Improvements and Fixes to docs
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/development-projects/index.md
  docs/dev-corner/index.md
  docs/fbw-a32nx/a32nx-api/index.md
  docs/fbw-a32nx/feature-guides/flypados2/index.md
  docs/fbw-a32nx/feature-guides/flypados3/index.md
  docs/fbw-a32nx/feature-guides/index.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/support/exp.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/pilots-corner/a32nx-briefing/ecam/index.md
  docs/pilots-corner/a32nx-briefing/flight-deck/index.md
  docs/pilots-corner/a32nx-briefing/index.md
  docs/pilots-corner/a32nx-briefing/mcdu/atc-comm.md
  docs/pilots-corner/a32nx-briefing/mcdu/data.md
  docs/pilots-corner/a32nx-briefing/mcdu/dir.md
  docs/pilots-corner/a32nx-briefing/mcdu/f-pln.md
  docs/pilots-corner/a32nx-briefing/mcdu/fuel-pred.md
  docs/pilots-corner/a32nx-briefing/mcdu/index.md
  docs/pilots-corner/a32nx-briefing/mcdu/init.md
  docs/pilots-corner/a32nx-briefing/mcdu/interface.md
  docs/pilots-corner/a32nx-briefing/mcdu/mcdu-menu.md
  docs/pilots-corner/a32nx-briefing/mcdu/messages.md
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
  docs/pilots-corner/a32nx-briefing/mcdu/prog.md
  docs/pilots-corner/a32nx-briefing/mcdu/rad-nav.md
  docs/pilots-corner/a32nx-briefing/mcdu/sec-f-plan.md
  docs/pilots-corner/a32nx-briefing/pfd/index.md
  docs/pilots-corner/advanced-guides/flight-guidance/overview.md
  docs/pilots-corner/advanced-guides/overview.md
  docs/pilots-corner/airliner-flying-guide/overview.md
  docs/pilots-corner/beginner-guide/overview.md
  docs/pilots-corner/index.md
  docs/simbridge/index.md
  docs/stylesheets/admon-fallback.css
  docs/stylesheets/admonitions.css
  docs/stylesheets/larger-admon-font.css
  docs/stylesheets/reported-issues.css
  mkdocs.yml
  requirements.txt
Labels: changed documentation, a32nx briefing, beginner guide, feature guide, advanced guides, support, repo

#623 feat: coroute documentation
  docs/fbw-a32nx/support/exp.md
  docs/simbridge/.pages
  docs/simbridge/coroute.md
  docs/simbridge/index.md
  mkdocs.yml
Labels: support, repo

#642 docs: update README.md
  README.md
Labels: repo

#669 docs: Adding extra clarification on the simbrief import in BG
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/pilots-corner/beginner-guide/preflight.md
Labels: beginner guide, feature guide

#671 docs(simbridge): coroutes moved to development
  docs/fbw-a32nx/support/exp.md
  docs/simbridge/coroute.md
  docs/simbridge/index.md
Labels: support
