Repository flybywiresim/docs, pull requests merged in 2023-12, with the labels that each got.

#917 build: bump mkdocs-material -> 9.4.14
  requirements.txt
Labels: repo, Approved

#918 build: bump mkdocs-material -> 9.5.3
  requirements.txt
Labels: repo, Approved

#919 feat: update announcement title latest notam
  overrides/main.html
Labels: Approved

#922 fix: Updated dev env setup page - hello world example
  docs/dev-corner/assets/dev-guide/hello-world-example-src-code.png
  docs/dev-corner/assets/dev-guide/hello-world-pfd.png
  docs/dev-corner/dev-guide/setup-environment.md
Labels: changed documentation, Review Required
