Repository flybywiresim/docs, pull requests merged in 2023-08, with the labels that each got.

#872 fix: Typo corrected con > can
  docs/simbridge/install-configure/configuration.md
Labels: Approved

#873 build: bump mkdocs-material -> 9.1.21
  requirements.txt
Labels: repo, Approved

#874 docs: update references to old a32nx repo
  README.md
  archive/exp.md
  docs/dev-corner/dev-guide/contribute.md
  docs/dev-corner/dev-guide/resources.md
  docs/dev-corner/dev-guide/setup-environment.md
  docs/dev-corner/dev-guide/specific/flypad-dev.md
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  docs/dev-corner/development-projects/ace.md
  docs/dev-corner/development-projects/index.md
  docs/dev-corner/index.md
  docs/dev-corner/qa-process.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
  docs/fbw-a32nx/a32nx-api/lvars-events.md
  docs/fbw-a32nx/faq.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/autopilot-fbw.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/index.md
  docs/fbw-a32nx/support/reported-issues.md
  mkdocs.yml
Labels: feature guide, support, repo, Approved

#875 docs(nd-symbols): minor corrections to symbology information
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/nd-symbols.md
Labels: advanced guides, Approved

#877 refactor(flightdeck-api): incorrect custom LVAR for no smoking switch
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#879 docs(issues): add pop out screen issue
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, Approved

#857 build: bump mkdocs-material -> 9.2.1
  docs/dev-corner/dev-guide/index.md
  docs/dev-corner/development-projects/documentation.md
  docs/dev-corner/index.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/fbw-versions.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/index.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/stylesheets/navigation.css
  mkdocs.yml
  overrides/home.html
  requirements.txt
Labels: repo, Approved

#883 docs: Added instruments page and temp removed outdated flypad-dev page
  docs/dev-corner/dev-guide/specific/.pages
  docs/dev-corner/dev-guide/specific/instruments.md
Labels: changed documentation, Approved

#885 chore: exclude flypad-dev.md from search
  docs/dev-corner/dev-guide/specific/flypad-dev.md
Labels: Approved
