Repository flybywiresim/docs, pull requests merged in 2023-05, with the labels that each got.

#820 build(vercel): cap urllib3 version
  requirements.txt
Labels: repo, Approved

#817 docs(ewd): typo correction in table
  docs/pilots-corner/a32nx-briefing/ecam/ecam-e-wd.md
Labels: a32nx briefing, Approved

#825 fix: change thrust to N1
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, Approved

#824 docs(vnav): update documentation to support dev release
  docs/fbw-a32nx/support/exp.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
  docs/pilots-corner/beginner-guide/descent.md
  mkdocs.yml
Labels: beginner guide, advanced guides, support, repo, Approved

#814 feat: add abbreviation tooltips
  docs/pilots-corner/abbreviations.md
  includes/abbreviations.example
  includes/abbreviations.md
  mkdocs.yml
Labels: repo, Approved

#827 fix: changed "star" to "asterisk"
  docs/pilots-corner/a32nx-briefing/mcdu/f-pln.md
Labels: a32nx briefing, Approved

#806 feat: release notes and changes for v0.10.0
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie1.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppie2.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc.png
  docs/fbw-a32nx/assets/feature-guides/hoppie/hoppieoc2.png
  docs/fbw-a32nx/feature-guides/hoppie.md
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
  docs/release-notes/.pages
  docs/release-notes/assets/0-10-0-m.png
  docs/release-notes/assets/radnav-rs10.png
  docs/release-notes/assets/wipers-rs10.jpg
  docs/release-notes/v0100.md
  docs/simbridge/index.md
  mkdocs.yml
Labels: a32nx briefing, feature guide, repo, simbridge, Approved

#578 docs(efb): update OS 3 with pause at TOD
  docs/fbw-a32nx/assets/flypados3/flypad-settings-realism.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide, Approved

#818 build: bump mkdocs-material -> 9.1.11
  docs/stylesheets/extra.css
  mkdocs.yml
  production.yml
  requirements.txt
Labels: repo, Approved

#830 fix: isa abbreviation and formatting fix
  docs/pilots-corner/abbreviations.md
Labels: Approved

#832 fix(efb): Moved Simbrief Username Location from Admonition header to body
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide, Approved

#833 fix(hoppie): Better wording for a sentence
  docs/fbw-a32nx/feature-guides/hoppie.md
Labels: feature guide, Approved

#834 fix: formatting
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides, Approved

#826 Docs: TCA,TWCS,Honeycomb and Keyboard Screenshots update
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-Reverse-Idle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-climb.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-flex.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/EFB-toga.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/Flypad-next-to-Throttle.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-climb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-flex.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-reverse-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/efb-toga.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.jpg
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page2.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-calibration-page3.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-clb-detent.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/flypad-next-to-throttle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/idle-keyboard-detent.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-clb.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-flx.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-idle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revfull.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-revidle.png
  docs/fbw-a32nx/assets/flypados3/throttle-calibration/keyboard-mapping-toga.png
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: feature guide, Approved

#808 fix: flight deck API update for RWY TAKE OFF switch pos
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#836 fix(descent): remove fix info dev flags and correct grammar
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide, Approved

#837 fix(api): Updated HOT AIR LVAR's
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#838 fix: typo on fcu page
  docs/pilots-corner/a32nx-briefing/flight-deck/glareshield/fcu.md
Labels: a32nx briefing, Approved

#839 build: bump mkdocs-material 9.1.14
  requirements.txt
Labels: repo, Approved
