Repository flybywiresim/docs, pull requests merged in 2023-09, with the labels that each got.

#886 feat: add efb to abbreviations
  docs/pilots-corner/abbreviations.md
Labels: Approved

#890 docs: eperm solution
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, Approved

#888 docs(disco): add warning about SID and en-route discontinuity
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides, Approved

#889 feat: crossbleed engine start documentation
  docs/pilots-corner/advanced-guides/.pages
  docs/pilots-corner/advanced-guides/engines/.pages
  docs/pilots-corner/advanced-guides/engines/crossbleed-start.md
  docs/pilots-corner/assets/advanced-guides/engines/bleeds-page.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed1.png
  docs/pilots-corner/assets/advanced-guides/engines/crossbleed2.png
  docs/pilots-corner/assets/advanced-guides/engines/engine-page-start.png
  docs/pilots-corner/assets/advanced-guides/engines/engines-page.png
Labels: advanced guides, Approved

#895 docs(prep-mcdu): add how-to enter squawk code section
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, Approved

#896 docs: add title to installer issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, Approved

#891 build: bump mkdocs-material -> 9.4.2
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/admonitions.css
  docs/stylesheets/extra.css
  requirements.txt
Labels: support, repo, Approved

#876 refactor(simbrief): navigraph and simbrief changes
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions-blank.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-3rdpartyoptions.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-auth.png
  docs/fbw-a32nx/assets/flypados3/navigraph/flypad-ng-override.png
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/fbw-a32nx/feature-guides/simbrief.md
Labels: feature guide, waiting on a32nx PR, Approved
