Repository flybywiresim/docs, pull requests merged in 2023-03, with the labels that each got.

#734 docs: Initial content for Quick Controls documentation
  archive/assets/flypados2/flypad-on-off.png
  docs/fbw-a32nx/assets/flypados3/flypad-hardware-button.png
  docs/fbw-a32nx/assets/flypados3/flypad-quick-controls.png
  docs/fbw-a32nx/assets/flypados3/flypad-status-bar-icons.png
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: changed documentation, feature guide

#757 fix: Added note to ECAM buttons
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: changed documentation

#758 build: bump mkdocs-material -> 9.1.1
  requirements.txt
Labels: repo

#761 fix: Flight Plan Redirect from "Enter flightplan manually"
  docs/fbw-a32nx/feature-guides/flight-planning.md
Labels: feature guide

#764 fix: section anchors not working
  docs/index.md
  mkdocs.yml
Labels: repo

#762 fix: ADIR page warning change
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/adirs.md
Labels: a32nx briefing

#767 refactor: admonitions in audio.md
  docs/fbw-a32nx/feature-guides/audio.md
Labels: feature guide

#768 docs: update reported-issues sim version number
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#770 docs(flypad-translations): add localazy logo and partnership information
  docs/dev-corner/assets/localazy-mono-logo.svg
  docs/dev-corner/dev-guide/specific/flypad-translations.md
  mkdocs.yml
Labels: repo

#773 fix: a typo
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/managed-modes.md
Labels: advanced guides

#774 docs(disco): change styling of documentation
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
Labels: advanced guides
