Repository flybywiresim/docs, pull requests merged in 2023-04, with the labels that each got.

#776 build: bump mkdocs-material -> 9.1.5
  mkdocs.yml
  requirements.txt
Labels: repo

#782 feat: Documentation for Alternate Law
  docs/pilots-corner/advanced-guides/protections/.pages
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides, Approved

#785 docs: change for AP2 SOP
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
  docs/pilots-corner/beginner-guide/landing.md
Labels: beginner guide, advanced guides, Approved

#786 docs(tcas): remove FSLTL issue
  docs/pilots-corner/advanced-guides/flight-guidance/tcas.md
Labels: advanced guides, Approved

#789 fix(docs): use GW CG for THS
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, Approved

#775 docs: Change docs after implementation of Ground Powered FADECs
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd-aft/maintenance.md
Labels: a32nx briefing, Approved

#793 docs(api): adjust pump toggle values
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#794 feat: added way to get back ctrl from efb
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, Approved

#796 fix: broken list in abnormallaw.md
  docs/pilots-corner/advanced-guides/protections/abnormallaw.md
Labels: advanced guides, Approved

#795 docs: change ctr fuel pump to jet pump
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing, Approved

#797 fix: correct typo
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/fuel.md
Labels: a32nx briefing, Approved

#800 docs(discord-bot): add new main bot developer
  docs/dev-corner/development-projects/discord-bot.md
Labels: Approved

#798 docs: add warning for tca Add-on bindings
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/assets/api-guide/tca-settings.png
Labels: Approved

#804 docs(bg): add autotuning capability and not for stable admonition
  docs/pilots-corner/beginner-guide/descent.md
Labels: beginner guide, Approved

#807 chore: updated experimental page
  docs/fbw-a32nx/support/exp.md
Labels: support, Approved

#810 fix(radar): adjust weather admonition to be more specific
  docs/pilots-corner/a32nx-briefing/flight-deck/pedestal/radar.md
Labels: a32nx briefing, Approved

#811 fix: text corrections in simbridge section
  docs/simbridge/index.md
  docs/simbridge/install-configure/configuration.md
  docs/simbridge/install-configure/installation.md
  docs/simbridge/install-configure/start-simbridge.md
  docs/simbridge/simbridge-feature-guides/coroute.md
  docs/simbridge/simbridge-feature-guides/remote-displays/architecture.md
  docs/simbridge/simbridge-feature-guides/remote-displays/remote-mcdu.md
  docs/simbridge/simbridge-feature-guides/terrain.md
  docs/simbridge/troubleshooting.md
Labels: simbridge, Approved

#815 fix: Fixed fuelsystem vars
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved
