Repository flybywiresim/docs, pull requests merged in 2023-01, with the labels that each got.

#709 fix(a32nx-feature-guides): Remove "only in dev" warning from EFB page
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide

#715 docs(issues): add installer issue for connection issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#716 fix(typo): Fix contant to contact
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#717 docs: minor corrections/fixes in various documentation
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/ext-lt.md
  docs/pilots-corner/advanced-guides/flight-guidance/autoland.md
Labels: a32nx briefing, advanced guides

#692 build: bump mkdocs-material -> 9.0.6 + fixes
  docs/dev-corner/development-projects/documentation.md
  docs/dev-corner/texture-changes.md
  docs/fbw-a32nx/installation.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/pilots-corner/advanced-guides/flight-guidance/approaches.md
  docs/pilots-corner/advanced-guides/flight-guidance/autopilot.md
  docs/pilots-corner/advanced-guides/flight-guidance/lnav.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/nd-symbols.md
  docs/pilots-corner/advanced-guides/flight-guidance/vertical-guidance/overview.md
  docs/pilots-corner/advanced-guides/flight-planning/disco.md
  docs/pilots-corner/advanced-guides/flight-planning/fplan.md
  docs/pilots-corner/advanced-guides/flight-planning/leg-types.md
  docs/pilots-corner/advanced-guides/flight-planning/offset.md
  docs/stylesheets/extra.css
  docs/stylesheets/navigation.css
  mkdocs.yml
  requirements.txt
Labels: advanced guides, support, repo

#721 docs(beginner): include basic instructions entering DCT to waypoint
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu-latrev.png
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

#722 docs(issues): update known issues
  docs/fbw-a32nx/support/reported-issues.md
Labels: support

#725 docs(beginner): update fuel information on init fuel pred
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide

#726 fix: Respectinve → Respective
  docs/fbw-a32nx/support/exp.md
Labels: support
