Repository flybywiresim/docs, pull requests merged in 2024-04, with the labels that each got.

#946 feat(flypad-settings): Move Simbrief Import section & introduce navigraph section
  docs/fbw-a32nx/assets/flypados3/flypad-settings-atsu-aoc.png
  docs/fbw-a32nx/assets/flypados3/flypad-settings-third-party-options.png
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
Labels: feature guide, waiting on a32nx PR, Review Required

#960 fix: update A32NX checklist to match actually used checklist
  docs/pilots-corner/assets/sop/A32NX Documentation/FBW A32NX Checklist.pdf
  src/sop/src A32NX Manuals/FBW Checklist.docx
Labels: Approved

#952 docs: add <meta> tags (Group 3)
  docs/pilots-corner/beginner-guide/after-landing.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, Approved

#962 fix: Fixed broken link and revert of meta tags PR
  docs/fbw-a32nx/feature-guides/flypados3/settings.md
  docs/pilots-corner/beginner-guide/.pages
  docs/pilots-corner/beginner-guide/after-landing.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/engine-start-taxi.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/powering-down.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, feature guide, Review Required

#963 refactor(readme): use consistent URL for FBW logo
  README.md
Labels: repo, Approved

#975 fix: update announcement bar URL + NOTAM title
  overrides/main.html
Labels: Approved

#978 feat: addition of taxi limitations (WIP) to ch4 of BG
  TODO_README.md
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
Labels: repo, Review Required

#972 feat: update chapter 6 of BG
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: repo, Review Required

#973 feat: update chapter 7 of beginner guide
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/03_preparing-fms.md
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: repo, Review Required
