Repository flybywiresim/docs, pull requests merged in 2024-10, with the labels that each got.

#1010 fix: quick fix for corrupt formula
  docs/pilots-corner/advanced-guides/flight-planning/takeoff-perf-calc.md
Labels: advanced guides, Approved

#1018 docs: cleanup bg overview/preflight
  docs/pilots-corner/a380x/a380x-beginner-guide/01_preflight.md
  docs/pilots-corner/a380x/a380x-beginner-guide/overview.md
Labels: Approved

#1013 Minor updates to checklist BG Chapter 6
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
Labels: a32nx briefing, feature guide, repo, Review Required

#1012 Updates to chapter 5 checklist items
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
Labels: a32nx briefing, feature guide, repo, Review Required

#1014 Update 380 BG Ch 7 checklist
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
Labels: a32nx briefing, feature guide, repo, Review Required

#1015 Minor update to BG CH 8
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: a32nx briefing, feature guide, repo, Review Required

#1021 fix: update announcement bar URL + NOTAM Title
  overrides/main.html
Labels: Approved

#1022 feat: update simbridge paths
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
  docs/simbridge/install-configure/installation.md
Labels: feature guide, Review Required

#1020 feat(a380x): OANS / BTV Advanced Guide
  docs/pilots-corner/a380x/a380x-advanced-guides/.pages
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
  docs/pilots-corner/a380x/a380x-advanced-guides/overview.md
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-abrk-selector.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-active-stopbar.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-no-selection.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-setup-selected.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-center-on-acft.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-cp-select-airport.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/oans-runway-ahead.png
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/pfd-btv-armed.png
  includes/abbreviations.md
Labels: Review Required

#1024 Tweaks to OANS-BTV text
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
Labels: Review Required

#1026 [Feature]: Inital list of INOP systems
  docs/aircraft/a380x/inop.md
Labels: Review Required

#1032 feat(a380x): OANS advanced guide: Add fallback mode documentation
  docs/pilots-corner/a380x/a380x-advanced-guides/oans-btv.md
  docs/pilots-corner/a380x/assets/advanced-guides/oans-btv/btv-fallback.png
Labels: Review Required
