Repository flybywiresim/docs, pull requests merged in 2024-02, with the labels that each got.

#935 build: bump mkdocs-material -> 9.5.6
  requirements.txt
Labels: repo, Approved

#939 docs(bg): update sample flight in preparing-mcdu.md
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu-discontinuity.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu10.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu12.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu15.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu16.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu19.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu20.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu5.png
  docs/pilots-corner/assets/beginner-guide/mcdu/mcdu8.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp1.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp2.png
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.jpg
  docs/pilots-corner/assets/beginner-guide/mcdu/ofp3.png
  docs/pilots-corner/assets/beginner-guide/mcdu/sample-ofp.pdf
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
Labels: beginner guide, Approved

#941 docs: Added note to TCA section to do MSFS Controller options first
  docs/fbw-a32nx/feature-guides/flypados3/throttle-calibration.md
Labels: changed documentation, feature guide, Approved
