Repository flybywiresim/docs, pull requests merged in 2024-05, with the labels that each got.

#976 feat: update bg chapter 8
  docs/pilots-corner/a380x/a380x-beginner-guide/.pages
  docs/pilots-corner/a380x/a380x-beginner-guide/08_after-landing.md
Labels: repo, Review Required

#982 build: bump mkdocs-material -> 9.5.21
  requirements.txt
Labels: repo, Approved

#948 refactor: add clarification for the use of decals
  docs/dev-corner/texture-changes.md
Labels: Approved

#979 fix: typos / grammatical errors
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
  docs/fbw-a32nx/feature-guides/simbrief.md
  docs/pilots-corner/abbreviations.md
  docs/pilots-corner/beginner-guide/descent.md
  docs/pilots-corner/beginner-guide/landing.md
  docs/pilots-corner/beginner-guide/preflight.md
  docs/pilots-corner/beginner-guide/preparing-mcdu.md
  docs/pilots-corner/beginner-guide/takeoff-climb-cruise.md
Labels: beginner guide, feature guide, Approved

#984 refactor: readme links and sim version number
  README.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, repo, Approved
