Repository flybywiresim/docs, pull requests merged in 2024-11, with the labels that each got.

#1035 docs: Clean up TODO and small fixes
  TODO_README.md
  docs/FILE_LIST.md
  docs/TODO_README.md
  docs/aircraft/support/.pages
  docs/pilots-corner/a380x/index.md
  docs/update_filelist.py
Labels: repo

#1039 docs: Release notes v0.12.1
  docs/release-notes/a32nx/.pages
  docs/release-notes/a32nx/v0121.md
  docs/release-notes/a380x/.pages
  docs/release-notes/a380x/v0121.md
Labels: Review Required

#1046 docs: Volume and Voice description RPM Panel
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/rmp.md
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/rmp-voice-volume.png
  docs/pilots-corner/a380x/assets/a380x-briefing/flight-deck/pedestal/rmp-voice.png
Labels: Review Required

#1045 style: Cockpit lighting hover sections fix
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/overviews/pedestal.md
Labels: Review Required

#1043 refactor: a380x beginner guide admonition link issues
  docs/pilots-corner/a380x/a380x-beginner-guide/04_engine-start-taxi.md
  docs/pilots-corner/a380x/a380x-beginner-guide/05_takeoff-climb-cruise.md
  docs/pilots-corner/a380x/a380x-beginner-guide/06_descent.md
  docs/pilots-corner/a380x/a380x-beginner-guide/07_landing.md
  docs/pilots-corner/a380x/a380x-beginner-guide/09_powering-down.md
Labels: Review Required

#1034 refactor: change sponsor information to cloudflare
  README.md
  docs/assets/images/cloudflare-logo.png
  mkdocs.yml
Labels: repo, Approved

#1053 docs: added note to use SURV page instead of SURV panel
  docs/pilots-corner/a380x/a380x-beginner-guide/02_cockpit-preparation.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/surveillance.md
Labels: Review Required

#1054 docs: added rel 0.12.2 notes
  docs/release-notes/a32nx/.pages
  docs/release-notes/a32nx/v0122.md
  docs/release-notes/a380x/.pages
  docs/release-notes/a380x/v0122.md
  docs/release-notes/index.md
Labels: Review Required

#1055 docs: added release notes for 0.12.3
  docs/release-notes/a32nx/.pages
  docs/release-notes/a32nx/v0123.md
  docs/release-notes/a380x/.pages
  docs/release-notes/a380x/v0123.md
  docs/release-notes/index.md
Labels: Review Required

#1056 feat: Adding PR Build and Deploy actions for all PRs
  .github/workflows/pr-build.yml
  .github/workflows/pr-deploy.yml
Labels: Review Required

#1058 docs: update FCU AFS and EFIS CP API for FMGC PR
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#1060 docs: updated installation and version pages for A380X Dev version
  docs/aircraft/install/fbw-versions.md
  docs/aircraft/install/installation.md
Labels: Review Required

#1061 fix: a32nx sop online preview links
  docs/pilots-corner/a32nx/a32nx-sop.md
Labels: Approved

#1062 fix: correct some copy paste errors in EFIS docs
  docs/aircraft/a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#1063 fix: typos, grammar and clarity A380X Pilot's Corner
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/glareshield/afs.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/glareshield/glare-underside.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/main-panel/isis.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/air.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/apu-fire.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/cargo-smoke.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/eng-fire.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/ext-lt.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/fuel.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/hyd.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/ovhd/maintenance.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/cockpit-lighting.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/ecam-cp.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/engine-master.md
  docs/pilots-corner/a380x/a380x-briefing/flight-deck/pedestal/rmp.md
Labels: Approved
