Repository flybywiresim/docs, pull requests merged in 2024-07, with the labels that each got.

#987 build: bump mkdocs-material -> 9.5.27
  requirements.txt
Labels: repo, Approved

#988 docs: Fix a typo for CHECK ALT flag
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing, Approved

#989 docs: Document virtualenv for docs project
  docs/dev-corner/development-projects/documentation-project/documentation.md
Labels: Approved

#991 fix: Update a32nx-breifing/MCDU/PERF to direct to takeoff calc page
  docs/pilots-corner/a32nx-briefing/mcdu/perf.md
Labels: a32nx briefing, Approved

#981 feat: quick settings text update
  docs/fbw-a32nx/assets/flypados3/flypad-quick-controls.png
  docs/fbw-a32nx/feature-guides/flypados3/index.md
Labels: feature guide, Review Required

#993 refactor: qa-process.md add new QA team lead
  docs/dev-corner/qa-process.md
Labels: Approved

#994 build: bump mkdocs-material -> 9.5.30
  requirements.txt
Labels: repo, Approved
