Repository flybywiresim/docs, pull requests merged in 2024-01, with the labels that each got.

#927 fix: Fixed API docs - KOHL(S)MAN and LIGHT POTENTIOMETER R/(W)
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: changed documentation, Review Required

#923 refactor(wb): add gw/gwcg information
  docs/fbw-a32nx/assets/feature-guides/gwcg.png
  docs/fbw-a32nx/feature-guides/loading-fuel-weight.md
Labels: feature guide, Approved

#928 refactor(install): update dev version download link
  docs/fbw-a32nx/installation.md
Labels: Approved

#925 refactor(simbridge): make clarifications for aircraft settings in configuration.md
  docs/simbridge/install-configure/configuration.md
Labels: Approved

#920 feat: card grids
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/documentation-project/.pages
  docs/dev-corner/development-projects/documentation-project/documentation.md
  docs/dev-corner/development-projects/documentation-project/writing-documentation.md
  docs/dev-corner/development-projects/index.md
  docs/fbw-a32nx/index.md
  docs/fbw-a32nx/support/reported-issues.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: support, repo, Approved

#931 refactor(qa): update documentation
  docs/dev-corner/qa-process.md
Labels: Approved

#929 docs: Rudder/pedal instructions
  docs/fbw-a32nx/a32nx-api/hardware.md
  docs/fbw-a32nx/assets/api-guide/thrustmaster-t-flight-rudder.png
  docs/fbw-a32nx/assets/rudder/GameControllersRudderSettings.jpg
  docs/fbw-a32nx/assets/rudder/GameControllersThrustmaster.jpg
  docs/fbw-a32nx/assets/rudder/TRJ12-Calibration.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSensitiviy.jpg
  docs/fbw-a32nx/assets/rudder/ThrustmasterRudderSettings.jpg
  docs/fbw-a32nx/support/detail-pages/.pages
  docs/fbw-a32nx/support/detail-pages/rudder.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: Approved

#932 fix(pfd-briefing): alternative solution to content tabs
  docs/pilots-corner/a32nx-briefing/pfd/flags-messages.md
Labels: a32nx briefing, Approved

#933 build: bump mkdocs-material -> 9.5.4
  requirements.txt
Labels: repo, Approved

#930 refactor(disc-bot): update page to prep for version 3
  docs/dev-corner/development-projects/.pages
  docs/dev-corner/development-projects/discord-bot-sticky.md
  docs/dev-corner/development-projects/discord-bot-utils.md
  docs/dev-corner/development-projects/discord-bot.md
Labels: Approved
