Repository flybywiresim/docs, pull requests merged in 2024-08, with the labels that each got.

#995 refactor: known issues cFMS and reported-issues.md
  docs/fbw-a32nx/feature-guides/cFMS.md
  docs/fbw-a32nx/support/reported-issues.md
Labels: feature guide, support, Approved

#996 bug: correct link for efb fuel page
  docs/pilots-corner/beginner-guide/starting-the-aircraft.md
Labels: beginner guide, Approved

#1001 docs: update efis overlay api
  docs/fbw-a32nx/a32nx-api/a32nx-flightdeck-api.md
Labels: Approved

#998 refactor(dev corner): Improve template & information in QA Process page
  docs/dev-corner/qa-process.md
Labels: Approved
