Repository flybywiresim/docs, pull requests merged in 2024-09, with the labels that each got.

#1003 fix: Fix QA project board link
  docs/dev-corner/qa-process.md
Labels: Approved

#1005 fix: broken text formatting with mathjax/latex enabled
  docs/pilots-corner/airliner-flying-guide/approaches.md
  docs/pilots-corner/airliner-flying-guide/navigation.md
Labels: Approved

#999 docs: Updated GSX Integration Docs to reflect current implementation
  docs/fbw-a32nx/assets/gsxintegration/gsx-fuel-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-hero.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.jpg
  docs/fbw-a32nx/assets/gsxintegration/gsx-payload-start.png
  docs/fbw-a32nx/assets/gsxintegration/gsx-profile-page.png
  docs/fbw-a32nx/feature-guides/gsxintegration/fuel.md
  docs/fbw-a32nx/feature-guides/gsxintegration/index.md
  docs/fbw-a32nx/feature-guides/gsxintegration/payload.md
  docs/fbw-a32nx/feature-guides/gsxintegration/profile.md
Labels: feature guide, Approved

#1006 fix: Include warning for Simbridge charts resources folder
  docs/fbw-a32nx/feature-guides/flypados3/charts.md
Labels: feature guide, Approved

#1008 "are" not "or"
  docs/pilots-corner/a32nx-briefing/flight-deck/ovhd/ext-lt.md
Labels: a32nx briefing, Review Required

#1009 fix: reported-issues.md grammar
  docs/fbw-a32nx/support/reported-issues.md
Labels: support, Approved
